# Lesson 3: Application of WHERE Clause

# Application of WHERE Clause

## Introduction
Greetings! In the previous lessons, we immersed ourselves in the basics of SQL, learned about databases, and discussed the **SELECT** statement. We practiced those concepts with actual data related to soccer superstar Lionel Messi. This lesson brings us to another important aspect of SQL — the **WHERE** clause. With this tool, we'll be able to narrow down our data retrieval to only select the records that meet certain conditions.

---

## Understanding the WHERE Clause
The **WHERE** clause is an essential part of SQL used to filter records. This clause extracts only those records from a table that fulfill a specified condition. The **WHERE** clause can be used with SQL commands like **SELECT**, **UPDATE**, **DELETE**, etc. It significantly enhances our ability to interact with a database by allowing us to retrieve targeted data instead of complete sets of records.

---

## Syntax of WHERE Clause
The syntax of the **WHERE** clause looks like this:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

In this syntax, after the **SELECT** statement and the **FROM** statement, we add the **WHERE** clause followed by a condition. The condition is what we set to filter our data. If the condition is true for a record, then that record is selected.

---

## Your Dataset - Lionel Messi's Matches
Before we dive into examples of using the **WHERE** clause, let's familiarize ourselves with the **Matches** table. This table stores details about soccer matches and includes the following columns:

| match_id | season_id | competition_id | matchday | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|----------|------------|-------|---------|-------------|--------|
| 1        | 1         | 1              | 34       | 2005-01-05 | H     | 1       | 2           | 2:0    |
| 2        | 2         | 2              | Group Stage | 2005-11-02 | H     | 1       | 2           | 5:0    |

---

## Example of WHERE Clause Use
Let's see the **WHERE** clause in action to fetch matches from a specific year. Suppose you want to know all the matches Lionel Messi played in **2005**. Here's how you would write the SQL query:

```sql
SELECT match_id, date, venue, result
FROM Matches
WHERE YEAR(date) = 2005;
```

This query uses the **WHERE** clause to filter matches where the date year is equal to **2005**. Note how we used the **YEAR()** function on the date for this query, as the date is a **DATE** type column.

---

## Another Example
To filter our records and get specifics, we would lean on the **WHERE** clause. Let's say we are interested in all of Messi's matches played after the year **2005**. We can achieve this by adding a **WHERE** clause to our previous query:

```sql
SELECT * FROM Matches
WHERE YEAR(date) > 2005;
```

Here, `WHERE YEAR(date) > 2005` is the condition we've set. The **YEAR(date)** function extracts the year from the date column, and `> 2005` specifies that we’re looking for records where the year is greater than **2005**. The query selects all rows from the **Matches** table whose date field contains a year later than **2005**.

---

## Bringing it Together and Next Steps
Well done for getting through this new concept! We've just learned what the **WHERE** clause is, how its syntax works, and how it helps us customize our data retrieval process. By using the **WHERE** clause, we were able to retrieve all of Messi's matches played after **2005** from the **Matches** table.

Next, in our practice exercises, we'll be using the **WHERE** clause extensively to create more selective queries. Remember, mastery comes with practice. So head over to the exercises and give it a go! Soon enough, you'll be navigating SQL databases like a pro!

## Select Matches After 2005

Well done on learning about the WHERE clause in SQL!

As a first task, let's start by running a simple query. We are going to select all columns from the Matches table for matches played after the year 2005. You need to execute the provided SQL query.

```sql


```

## Selecting Specific Matches Using SQL

Great job on completing the first task! Now, let's take it up a notch. We need to modify our existing SQL query to retrieve all matches from the Matches table that were played after the year 2010. Update the given query accordingly.

```sql
-- TODO: Select all matches played after the year 2010
SELECT * FROM Matches
WHERE YEAR(date) > 2005;


````

To update the query and select all matches played after the year 2010, you simply need to change the year condition in the `WHERE` clause:

```sql
-- TODO: Select all matches played after the year 2010
SELECT * FROM Matches
WHERE YEAR(date) > 2010;
```

### Explanation
- **YEAR(date)**: Extracts the year from the `date` column.
- **> 2010**: Ensures that only matches played after the year 2010 are selected.

This modified query will fetch all matches from the `Matches` table with dates after 2010. Let me know if you have any more tasks or questions!

## Filtering Soccer Matches Effortlessly

Excellent progress! Now, we're going to delve a little deeper into the WHERE clause. This time, let's modify our SQL query to retrieve all matches from the Matches table that were played in or after the year 2008.

```sql
-- TODO: Select all matches played in or after the year 2008
SELECT * FROM Matches
WHERE YEAR(date) >= ________;

```

To modify the query to select all matches played in or after the year 2008, you can fill in the blank with `2008`:

```sql
-- TODO: Select all matches played in or after the year 2008
SELECT * FROM Matches
WHERE YEAR(date) >= 2008;
```

### Explanation
- **YEAR(date) >= 2008**: This condition selects matches where the year of the `date` is 2008 or later.

This query will return all matches played from 2008 onward. Keep up the great work with your SQL learning!

## Fix the SQL Query Bug

You've done great so far! Now, let's practice identifying and fixing a bug in the SQL query. You are given a query that is supposed to retrieve all matches from the Matches table played after the year 2005. However, there's a mistake in the statement, and it is not executing correctly. Your task is to find and fix the error.

```sql
-- TODO: Select all matches played after the year 2005
SELECT * Matches
WHERE YEAR(date) > 2005;

```

The error in the SQL query is that the `FROM` keyword is missing before the table name. Here is the corrected query:

```sql
-- TODO: Select all matches played after the year 2005
SELECT * FROM Matches
WHERE YEAR(date) > 2005;
```

### Explanation
- **Missing `FROM`**: The `FROM` keyword is essential to specify the table from which data is being selected.
- The corrected query now properly retrieves all matches from the `Matches` table played after the year 2005.

Great job catching and fixing this type of bug! Let me know if you'd like to practice more or need further assistance.

## Selecting Matches by Year

Great job on learning about the WHERE clause! This is the final task of this section. Now, it's time to write a query on your own.

Write an SQL query to select the date and result columns from the Matches table for matches that were played in the year 2012. Rename the date column to Date and the result column to Match Score in your output.

```sql
-- TODO: Write an SQL query to select all match dates and results played in the year 2012 and rename "date" column to "Date" and the "result" column to "Match Score" in your output. Hint: Enclose column names with spaces in double quotes ("").

```

Here's the SQL query you can use to select the date and result columns from the Matches table, filter for matches played in the year 2012, and rename the columns:

```sql
SELECT 
    date AS "Date", 
    result AS "Match Score"
FROM 
    Matches
WHERE 
    YEAR(date) = 2012;
```

### Explanation:
- **`SELECT date AS "Date", result AS "Match Score"`**: Selects the `date` and `result` columns and renames them in the output.
- **`FROM Matches`**: Specifies the table from which to retrieve the data.
- **`WHERE YEAR(date) = 2012`**: Filters for matches played in the year 2012, using the `YEAR()` function to extract the year from the `date` column.