# Lesson 1: Introduction to Databases, SQL and Writing First Query

# Introduction to Databases, SQL, and Writing Your First Query

## Welcome to Databases and SQL
Hello, and welcome to the magical world of databases and SQL!

### What is a Database?
A **database** is like a huge digital filing cabinet where you can store, manage, and retrieve data. In this course, we'll focus on a specific type of database known as a **relational database**, which stores data in tables—similar to how an Excel file has different sheets for different sets of data.

### What is SQL?
**SQL** (Structured Query Language) is the standard language used to interact with databases. Think of it as a toolbox for managing and manipulating data. Whether you want to find a specific piece of data, update it, delete it, or create a new one, SQL is your go-to resource.

---

## SQL and Its Tools - Introduction to MySQL
The tool we'll use in these lessons is **MySQL**. While there are multiple database management systems that use SQL, such as PostgreSQL and SQLite, MySQL is a well-established, flexible tool, making it an excellent starting point for beginners.

MySQL's widespread use and supportive community ensure you can easily find help and resources as you learn.

---

## Your Dataset - Lionel Messi's Career Stats
To make our data journey engaging, we’re using a unique dataset—tables that capture various aspects of **Lionel Messi's** illustrious career. This dataset includes detailed statistics from different seasons, matches, goals, assists, and more. 

### Sample of the Seasons Table
Here's a sneak peek at a sample of the **Seasons** table:

| season_id | season | trophies_won |
|-----------|--------|---------------|
| 1         | 04/05  | 1             |
| 2         | 05/06  | 2             |

This table records each season with a unique identifier, the name of the season, and the number of trophies won. With this in mind, let's move on to writing our first simple SQL command.

---

## The `SHOW TABLES` Command
Sometimes you might want to know what tables are present in the database you're working with. Here is where the `SHOW TABLES` command comes in handy:

```sql
SHOW TABLES;
```

Executing this command returns a list of all the tables in your current database:

| Tables_in_practice_db |
|------------------------|
| clubs                  |
| competitions           |
| matches                |
| matchevents            |
| players                |
| seasons                |

---

## Understanding SQL Syntax Essentials
Learning SQL syntax effectively is crucial for communicating clearly with databases. Here are some fundamental syntax components to know:

- **Semicolon (;)**: Serves as the end of a statement, similar to a period in a sentence. Correct usage is crucial for clear command separation. 
  - Example: `SHOW TABLES;`

- **Comments**: Used for adding notes or explanations within your SQL code, which are ignored during execution. SQL supports both single-line and multi-line comments.
  
  - **Single-line comments** start with `--`. The rest of the line after `--` is ignored by SQL. 
    - Example:
    ```sql
    -- This command lists all tables
    SHOW TABLES;
    ```

  - **Multi-line comments** are enclosed in `/*` and `*/`, ignoring everything in between. These are useful for longer explanations or notes. 
    - Example:
    ```sql
    /*
    The following command is used
    to display all tables in the database
    */
    SHOW TABLES;
    ```

Grasping the use of semicolons for statement demarcation and comments for annotating your SQL scripts ensures your queries are both effective and easily understandable.

---

## Getting to Know a Table - Viewing All Data
Next, let's learn how to view all data from a table:

```sql
SELECT * FROM Seasons;
```

The `SELECT` keyword specifies the data we wish to see. The asterisk `*` represents our request to see all the data. Finally, `FROM Seasons;` instructs the database to display the data from the **Seasons** table.

Upon executing this command, we'll receive a comprehensive list of all the data present in the **Seasons** table. You'll get to try it in the practice section that follows.

---

## Recap
That's a wrap for our first lesson! We've journeyed from understanding the basics of databases and SQL to learning how to write our first query. Now, you're equipped to display a list of all tables in your dataset using `SHOW TABLES;` and to view all data from a table with `SELECT * FROM Seasons;`.

Now, let's apply our newly acquired knowledge to some practical exercises! The upcoming practice exercises are based on the topics covered in this lesson. These will reinforce your understanding and help you become comfortable with the basics of SQL.

## Running Your First SQL Queries

## Unveiling all Records from a Seasons Table

## Unveiling Specific Season Details

## Unveiling the database's tables

## Exploring Database Tables with SQL