# Lesson 2: Navigating the SQL SELECT Statement

# Navigating the SQL SELECT Statement

## Greetings!
Welcome to our second unit in the **"Learning SQL with Leo Messi"** course!

You have already journeyed through what databases are, explored the world of SQL, and understood the usage of MySQL. Remember how we wrote our first `SHOW TABLES` SQL command to list all the tables in a Messi database? That was your first step into SQL syntax!

SQL, unlike many programming languages, doesn't deal with logic or flow control; instead, it understands, manipulates, and retrieves data stored in databases in a structured manner.

---

## Getting to Know SELECT Syntax
In this lesson, we will cover the **SELECT** keyword. The syntax is straightforward.

### General Syntax:
```sql
SELECT column1, column2, ..., columnN FROM table_name;
```
In this syntax, you mention the column names that you want to retrieve, separated by commas. If you want to retrieve all columns, replace the column names with an asterisk (*).

---

## Querying the Database: Select All
Let's pull all the data from the **Clubs** table. We'll use the asterisk (*) symbol to do this.

```sql
SELECT * FROM Clubs;
```
This statement fetches all columns, along with their data, from the **Clubs** table. You would see `club_id`, `club_name`, `club_country`, and more, all displaying data from Lionel Messi's clubs table.

---

## SELECT for Specific Columns
Now, what if we want only specific information, such as the club name and club country? It's simple! We replace the asterisk with the required column names. Here's how:

```sql
SELECT club_name, club_country FROM Clubs;
```
In this example, we have fetched only the `club_name` and `club_country` columns from our **Clubs** table. Isn’t fine-tuning our query results exciting?

---

## Alias in SQL: Using the AS Keyword
Can we rename column names in the output for better understanding? Yes, we can! Thanks to SQL aliasing features. The **AS** keyword is used to rename a column or table with an alias.

```sql
SELECT club_name AS Name, club_country AS "Club Country" FROM Clubs;
```
In this statement, **AS** is used to rename `club_name` to **Name** and `club_country` to **Club Country** in our output. Notice that we use double quotes around **Club Country** because the new name contains spaces. This way, our result set has more comprehensible column names.

### Sample Output
The output of this query would be:

| Name                 | Club Country |
|----------------------|--------------|
| FC Barcelona         | Spain        |
| Paris Saint-Germain  | France       |

---

## Wrapping Up: Summary and Preparing for Practice
Let's recap what we've covered:
- `SELECT * FROM Clubs;` will fetch all columns.
- `SELECT club_name, club_country FROM Clubs;` will fetch specific columns.
- `SELECT club_name AS Name, club_country AS "Club Country" FROM Clubs;` will fetch specific columns and rename them in the output.

Practice these commands with different columns and aliases to gain a firm understanding of the **SELECT** statement. Don't worry if you make mistakes—they are stepping stones to mastering any new skill. Let's get to practice!

---

## End of Lesson Recap and Lookahead
That wraps up our second unit! You now understand the SQL syntax, the **SELECT** command, and the usage of the **AS** keyword to rename items in the output of your query.

The practice exercises that follow this lesson will further reinforce these concepts. Remember, the best way to learn is by doing. So, try writing and running your own SQL commands before you move on to the practice exercises.

Great job so far, and keep practicing!

## Selecting Specific Columns in SQL

You've previously learned how to fetch all columns from a table and select specific columns. Let's take it a step further. Your task is to modify the given SQL query to fetch club_id and club_name from the Clubs table instead of fetching all columns.

```sql
-- TODO: Select all columns from the Clubs table
SELECT * FROM Clubs;
```

To modify the SQL query to fetch only the `club_id` and `club_name` columns from the `Clubs` table, update it as follows:

```sql
-- Select club_id and club_name from the Clubs table
SELECT club_id, club_name FROM Clubs;
```

## Select and Rename Columns

Now that you've learned about selecting specific columns and using aliases, let's practice applying these concepts. Modify the given SQL query to fetch the club_name and club_country columns from the Clubs table and give them aliases Name and Club Country, respectively.

```sql
-- TODO: Select club_name and club_country with aliases
SELECT club_name, club_country FROM Clubs;

```

Here's the modified SQL query using aliases for `club_name` and `club_country`:

```sql
-- Select club_name and club_country with aliases
SELECT club_name AS Name, club_country AS "Club Country" FROM Clubs;
``` 

*Note*: The double quotes around "Club Country" ensure that the alias is interpreted as a single string, preserving the space.

## Fix the SQL Query

## Renaming Columns with SQL

## Navigating Advanced SQL Queries