# Lesson 3: Application of WHERE Clause

# Application of WHERE Clause

## Introduction
Greetings! In the previous lessons, we immersed ourselves in the basics of SQL, learned about databases, and discussed the **SELECT** statement. We practiced those concepts with actual data related to soccer superstar Lionel Messi. This lesson brings us to another important aspect of SQL — the **WHERE** clause. With this tool, we'll be able to narrow down our data retrieval to only select the records that meet certain conditions.

---

## Understanding the WHERE Clause
The **WHERE** clause is an essential part of SQL used to filter records. This clause extracts only those records from a table that fulfill a specified condition. The **WHERE** clause can be used with SQL commands like **SELECT**, **UPDATE**, **DELETE**, etc. It significantly enhances our ability to interact with a database by allowing us to retrieve targeted data instead of complete sets of records.

---

## Syntax of WHERE Clause
The syntax of the **WHERE** clause looks like this:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

In this syntax, after the **SELECT** statement and the **FROM** statement, we add the **WHERE** clause followed by a condition. The condition is what we set to filter our data. If the condition is true for a record, then that record is selected.

---

## Your Dataset - Lionel Messi's Matches
Before we dive into examples of using the **WHERE** clause, let's familiarize ourselves with the **Matches** table. This table stores details about soccer matches and includes the following columns:

| match_id | season_id | competition_id | matchday | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|----------|------------|-------|---------|-------------|--------|
| 1        | 1         | 1              | 34       | 2005-01-05 | H     | 1       | 2           | 2:0    |
| 2        | 2         | 2              | Group Stage | 2005-11-02 | H     | 1       | 2           | 5:0    |

---

## Example of WHERE Clause Use
Let's see the **WHERE** clause in action to fetch matches from a specific year. Suppose you want to know all the matches Lionel Messi played in **2005**. Here's how you would write the SQL query:

```sql
SELECT match_id, date, venue, result
FROM Matches
WHERE YEAR(date) = 2005;
```

This query uses the **WHERE** clause to filter matches where the date year is equal to **2005**. Note how we used the **YEAR()** function on the date for this query, as the date is a **DATE** type column.

---

## Another Example
To filter our records and get specifics, we would lean on the **WHERE** clause. Let's say we are interested in all of Messi's matches played after the year **2005**. We can achieve this by adding a **WHERE** clause to our previous query:

```sql
SELECT * FROM Matches
WHERE YEAR(date) > 2005;
```

Here, `WHERE YEAR(date) > 2005` is the condition we've set. The **YEAR(date)** function extracts the year from the date column, and `> 2005` specifies that we’re looking for records where the year is greater than **2005**. The query selects all rows from the **Matches** table whose date field contains a year later than **2005**.

---

## Bringing it Together and Next Steps
Well done for getting through this new concept! We've just learned what the **WHERE** clause is, how its syntax works, and how it helps us customize our data retrieval process. By using the **WHERE** clause, we were able to retrieve all of Messi's matches played after **2005** from the **Matches** table.

Next, in our practice exercises, we'll be using the **WHERE** clause extensively to create more selective queries. Remember, mastery comes with practice. So head over to the exercises and give it a go! Soon enough, you'll be navigating SQL databases like a pro!

## Select Matches After 2005

## Selecting Specific Matches Using SQL

## Filtering Soccer Matches Effortlessly

## Fix the SQL Query Bug

## Selecting Matches by Year