# Lesson 5: Understanding ORDER BY Clause for Sorting Data

# Understanding `ORDER BY` Clause for Sorting Data

## Introduction
Hello again! As we continue our journey through SQL, let’s take a moment to recap. So far, we've explored SQL basics, worked with queries, selected data from tables, and used the `WHERE` clause with logical operators to filter data.

Now, let’s dive into a new SQL keyword — **`ORDER BY`** — and see how to use it to organize and sort our data.

---

## Understanding `ORDER BY` Clause
In SQL, the **`ORDER BY`** keyword is used to sort result sets in either ascending or descending order. It's an invaluable tool for gaining insights from data and is one you’ll use frequently. By default, **`ORDER BY`** sorts records in ascending order, but you can use **`DESC`** after the column name to apply descending order.

### Example:
Suppose we have a `Matches` table with the columns: `match_id`, `date`, and `result`. If we want to sort our list of matches by year in descending order, we could use the `ORDER BY` clause like this:

```sql
SELECT match_id, date, result 
FROM Matches
ORDER BY YEAR(date) DESC;
```

---

## Linking `SELECT` with `ORDER BY`
Remember the `SELECT` statement? It's back again, but this time we’re pairing it with `ORDER BY`. Here’s the general syntax:

```sql
SELECT column_name 
FROM table_name 
ORDER BY column_name ASC|DESC;
```

To see this in action, here’s a code example you’ll be able to understand by the end of this lesson:

```sql
SELECT match_id, date, result
FROM Matches 
ORDER BY YEAR(date) ASC;
```

This query retrieves `match_id`, `date`, and `result` columns from the `Matches` table and organizes them in ascending order by year.

---

## Interpreting Results

Let’s break down this SQL query and its output:

1. **`SELECT match_id, date, result`**: Specifies the columns we want from the `Matches` table.
2. **`FROM Matches`**: Indicates the table we’re querying.
3. **`ORDER BY YEAR(date) ASC`**: Uses the `ORDER BY` clause to sort records by year in ascending order. The **`ASC`** part specifies ascending order, although it’s optional since `ORDER BY` defaults to ascending order.

Running the query will list the matches sorted by year in ascending order.

---

## Summary and Preparation for Practice
Great job! Today, you’ve learned how to sort data in SQL using the **`ORDER BY`** clause. Understanding how to arrange data using `ORDER BY` is a critical skill as you dive into more complex data analysis.

Get ready for the upcoming practice sections, where you’ll get hands-on with the **`ORDER BY`** clause to sort different aspects of Messi's dataset. Happy sorting!

Remember, the goal isn’t just to know how to use `ORDER BY` but to understand **why** and **when** to use it.

## Ordering Match Results by Date

## Sorting Match Records by ID

## Sorting Match Results Ascending

## Sort Match Results Numerically

## Sorting Match Results Correctly