# Lesson 4: Mastering SELECT Statements with Logical Operators

# Mastering SELECT Statements with Logical Operators

## Introduction to the Lesson
Great job on making it this far! Today we're going to extend your SQL knowledge even further. So far, you've learned about the basics of SQL, the **SELECT** statement, and the **WHERE** clause. Today, we're going to focus on enhancing those skills using logical operators.

Logical operators are at the heart of any computational language, and SQL is no exception. They're used in the **WHERE** clause of **SELECT** statements (as well as other statements like **INSERT**, **UPDATE**, and **DELETE**, which you'll learn about in the future) to combine or negate conditions and ultimately help us sieve out precise information from our database.

---

## Understanding AND and OR Operators in SQL
Firstly, we have the **AND** and **OR** operators.

- An **AND** operator returns **TRUE** if both listed conditions are true. It narrows your search results because it adds more conditions that records must meet.
  
- An **OR** operator returns **TRUE** if either of the conditions listed is true. It broadens your search results because it only requires one of the conditions to be met.

To see them in action, follow the code examples:

```sql
/* Using 'AND' operator */
SELECT * FROM Matches WHERE competition_id > 1 AND date < '2006-01-01';

/* Using 'OR' operator */
SELECT * FROM Matches WHERE venue = 'H' OR result = '5:0';
```

### Analysis of Code Snippets
- In the first example, we employ the **AND** operator, which extracts matches from the database (`SELECT * FROM Matches`) that meet both conditions: the `competition_id` is greater than **1** and the `date` is earlier than **2006-01-01**.

- In the second snippet, we utilize the **OR** operator, extracting matches that are either played at a **Home** venue (`venue = 'H'`) or have a result of **5:0** (`result = '5:0'`). This means matches that fulfill either or both conditions will be returned.

---

## Introduction to IN and BETWEEN Operators in SQL
Next, we have the **IN** and **BETWEEN** operators:

- The **IN** operator allows us to specify multiple values in a **WHERE** clause, providing a clean, efficient alternative to multiple **OR** conditions.

- The **BETWEEN** operator selects values within a given range, which can be numbers, text, or dates.

Now let's use these operators:

```sql
/* Using 'IN' operator */
SELECT * FROM Matches WHERE match_id IN (1, 2, 3);

/* Using 'BETWEEN' operator */
SELECT * FROM Matches WHERE match_id BETWEEN 1 AND 5;
```

### Analysis of Operators
- The first example employs the **IN** operator to extract matches that have a `match_id` of **1**, **2**, or **3**. It's less tedious than writing `match_id = 1 OR match_id = 2 OR match_id = 3`.

- The next line, using the **BETWEEN** operator, performs a range-based search. This command extracts matches that have a `match_id` between **1** and **5** (i.e., numbers **1**, **2**, **3**, **4**, and **5**).

---

## Conceptualizing the NOT Operator
Finally, we have the **NOT** operator, which is used to exclude records that meet specific conditions. Let's try it out in a **SELECT** statement:

```sql
/* Using 'NOT' operator */
SELECT * FROM Matches WHERE match_id NOT BETWEEN 3 AND 8;
```

In the snippet above, we use the **NOT** operator to exclude certain records from our selection. This line extracts features of matches where the `match_id` is not in the range of **3** to **8**.

Logical operators, such as **AND**, **OR**, **IN**, **NOT IN**, and **BETWEEN**, help us refine our SQL queries to get the data we need in a more efficient and specific way. These tools will allow us to retrieve specific sets of data from our database, which in our case, are Messi's football stats.

---

## Review, Conclusion, and Upcoming Practice
Great job! Today, you've deepened your understanding of the **SELECT** statement through the usage of logical operators, making your data retrieval more precise and flexible. You started with **AND** and **OR** operators, moved to the **IN** operator, and finally used the **BETWEEN** operator.

As usual, remember that practice makes perfect! Our upcoming exercises will offer hands-on learning opportunities to further enhance your skills and understanding. We'll be using Messi's soccer stats to run some SQL queries using all the logical operators you've learned.

So, get ready to retrieve some specific data while deepening your understanding of SQL. Keep practicing, and you'll become a SQL superstar in no time!

## Refine Match Data Selection

Let's start with a simple query to get comfortable using the AND operator in a SELECT statement. Your task is to run the provided SQL query, which retrieves all matches from the Matches table where the competition_id is greater than 1 and the date is earlier than '2006-01-01'.

Execute the SQL command to see the results.

```sql
-- TODO: Fetch matches with specific conditions 
SELECT * FROM Matches WHERE competition_id > 1 AND date < '2006-01-01';

```

## Refine Your SQL Queries

Let's refine an existing SQL query to include an additional condition. From the Matches table, you need to select matches that were played at the home venue (venue = 'H') and have a result of 5:0. Modify the given query to accommodate this.


```sql
-- TODO: Fill in the blank to complete the query. Hint: Use the column `result`.
SELECT * FROM Matches WHERE venue = 'H' AND _______;

```

Here's how you can complete the query to include both conditions:

```sql
SELECT * FROM Matches 
WHERE venue = 'H' AND result = '5:0';
```

### Explanation:
- **`venue = 'H'`**: Filters matches played at the home venue.
- **`result = '5:0'`**: Filters matches that ended with a result of 5:0.
- The `AND` keyword is used to combine both conditions.

## Refine Match Data Selection

Let's create a query to retrieve match data by using the IN operator. From the Matches table, you need to select matches that belong to season_id 1, 2, or 3.

```sql
-- TODO: Fetch matches for specific seasons
SELECT * FROM Matches
WHERE season_id IN (1, ________);

```

Here's how you can complete the query using the `IN` operator:

```sql
SELECT * FROM Matches
WHERE season_id IN (1, 2, 3);
```

### Explanation:
- **`IN (1, 2, 3)`**: The `IN` operator is used to filter rows where `season_id` matches any of the specified values: 1, 2, or 3.

## Fetch Match Events by Duration

Now, let's continue practicing with logical operators, particularly the BETWEEN operator. We are going to write a query to retrieve events from the MatchEvents table where the event occurred between the 30th and 45th minutes (inclusive).

Below is the MatchEvents table:

event_id	match_id	playing_position	minute	at_score	event_type	goal_assist_id
1	1	CF	90+1	2:00	Left-footed shot	1
2	2	RW	34	3:00	Left-footed shot	NULL
event_id: Unique identifier for each event.
match_id: Reference to the match in which the event occurred.
playing_position: Messi's playing position during the event (e.g., "CF").
minute: Minute of the match when the event occurred.
at_score: Score at the time of the event.
event_type: Type of event (e.g., "Left-footed shot").
goal_assist_id: Reference to the player who assisted the goal, if any.

```sql
-- TODO: Fetch events occurring between 30th and 45th minute
SELECT * FROM MatchEvents
WHERE minute BETWEEN ________ AND ________;

```

## Fetch Messi's Matches

You've done a great job with all the tasks so far! You've already mastered the AND, OR, IN, BETWEEN, and NOT operators. Now, it's time to test your abilities!

Write a SELECT query to retrieve matches from the Matches table where Lionel Messi played a match during year 2019 or 2020, on matchdays between 1 and 15, and where the result was either a win with a score of '4:1' or '5:2'. Use the IN, BETWEEN, and OR operators in your query, and remember to group conditions for clarity.

Hereâ€™s a skeleton to help you get started:

```SQL

SELECT * FROM Matches
WHERE (condition1)
      AND (condition2)
      AND (condition3);
```

-- TODO: Fetch matches from year 2019 or 2020, on matchdays between 1 and 15, where the result was either 4:1 or 5:2

To extract the year from a `date` column and use it in your `WHERE` clause, you can use the `YEAR()` function in SQL. Here's how to modify your query:

```sql
SELECT * FROM Matches
WHERE (YEAR(date) IN (2019, 2020))
      AND (matchday BETWEEN 1 AND 15)
      AND (result IN ('4:1', '5:2'));
```

### Explanation:
- **`YEAR(date)`**: This function extracts the year from the `date` column so you can compare it to 2019 or 2020.
- The rest of the conditions remain the same for filtering the matches based on your criteria.

This query should now work without the error, as it uses the `YEAR()` function to extract the year from the `date` field.