# Lesson 5: Understanding ORDER BY Clause for Sorting Data

# Understanding `ORDER BY` Clause for Sorting Data

## Introduction
Hello again! As we continue our journey through SQL, let’s take a moment to recap. So far, we've explored SQL basics, worked with queries, selected data from tables, and used the `WHERE` clause with logical operators to filter data.

Now, let’s dive into a new SQL keyword — **`ORDER BY`** — and see how to use it to organize and sort our data.

---

## Understanding `ORDER BY` Clause
In SQL, the **`ORDER BY`** keyword is used to sort result sets in either ascending or descending order. It's an invaluable tool for gaining insights from data and is one you’ll use frequently. By default, **`ORDER BY`** sorts records in ascending order, but you can use **`DESC`** after the column name to apply descending order.

### Example:
Suppose we have a `Matches` table with the columns: `match_id`, `date`, and `result`. If we want to sort our list of matches by year in descending order, we could use the `ORDER BY` clause like this:

```sql
SELECT match_id, date, result 
FROM Matches
ORDER BY YEAR(date) DESC;
```

---

## Linking `SELECT` with `ORDER BY`
Remember the `SELECT` statement? It's back again, but this time we’re pairing it with `ORDER BY`. Here’s the general syntax:

```sql
SELECT column_name 
FROM table_name 
ORDER BY column_name ASC|DESC;
```

To see this in action, here’s a code example you’ll be able to understand by the end of this lesson:

```sql
SELECT match_id, date, result
FROM Matches 
ORDER BY YEAR(date) ASC;
```

This query retrieves `match_id`, `date`, and `result` columns from the `Matches` table and organizes them in ascending order by year.

---

## Interpreting Results

Let’s break down this SQL query and its output:

1. **`SELECT match_id, date, result`**: Specifies the columns we want from the `Matches` table.
2. **`FROM Matches`**: Indicates the table we’re querying.
3. **`ORDER BY YEAR(date) ASC`**: Uses the `ORDER BY` clause to sort records by year in ascending order. The **`ASC`** part specifies ascending order, although it’s optional since `ORDER BY` defaults to ascending order.

Running the query will list the matches sorted by year in ascending order.

---

## Summary and Preparation for Practice
Great job! Today, you’ve learned how to sort data in SQL using the **`ORDER BY`** clause. Understanding how to arrange data using `ORDER BY` is a critical skill as you dive into more complex data analysis.

Get ready for the upcoming practice sections, where you’ll get hands-on with the **`ORDER BY`** clause to sort different aspects of Messi's dataset. Happy sorting!

Remember, the goal isn’t just to know how to use `ORDER BY` but to understand **why** and **when** to use it.

## Ordering Match Results by Date

Welcome to your first task on understanding the ORDER BY clause in SQL. We have already learned to select all records from a table. For your initial task, let's start with a simple query.

We are going to write a query to select all matches from the Matches table.

```sql
-- TODO: Select all matches

```

Here is a simple query to select all matches from the `Matches` table:

```sql
SELECT * FROM Matches;
```

### Next Step with `ORDER BY`:
To get a better understanding of how to use the `ORDER BY` clause, you can sort the results by a specific column. For example, to order the matches by `date` in ascending order:

```sql
SELECT * FROM Matches
ORDER BY date ASC;
```

- **`ORDER BY date ASC`**: This sorts the matches from oldest to newest. You can also use `DESC` to sort from newest to oldest. Let me know if you’d like to practice with other sorting options or columns!

## Sorting Match Records by ID

Now that we have refreshed our memory on how to view all records from a table, let's apply our other skills. This task focuses on selective fetching and sorting the results.

We are interested in knowing the matches and their corresponding dates, but we want them sorted in ascending order of the match dates, with the earliest date coming first. You should make use of the SELECT, FROM, and ORDER BY clauses we've learned in previous lessons.

```sql
-- TODO: Select match ID and date ordered by date in ascending order
_____ match_id, date
_____ Matches
_____ date _____;


```

Here's how to write the SQL query for selecting match ID and date, sorted in ascending order of the date:

```sql
-- Select match ID and date ordered by date in ascending order
SELECT match_id, date
FROM Matches
ORDER BY date ASC;
```

- `SELECT`: Specifies the columns you want to retrieve, which are `match_id` and `date`.
- `FROM`: Indicates the table from which to fetch the data, in this case, `Matches`.
- `ORDER BY`: Sorts the records based on the `date` column in ascending order (`ASC`).

## Sorting Match Results Ascending

In this task, you'll adjust a query to change the sorting of Lionel Messi's matches. Currently, matches are sorted from oldest to newest. You'll need to modify the query so that it sorts the albums from newest to oldest instead.

```sql
SELECT match_id, date
FROM Matches
ORDER BY date ASC;

```

To change the sorting order from oldest to newest (ascending) to newest to oldest (descending), you should update `ASC` to `DESC` in the `ORDER BY` clause:

```sql
SELECT match_id, date
FROM Matches
ORDER BY date DESC;
```

- `DESC`: Sorts the records in descending order, meaning the most recent dates will appear first.

## Sort Match Results Numerically

Awesome work so far! Now, let's focus on using the ORDER BY clause along with conditional filtering. The task at hand involves fetching the matches and the dates of all Lionel Messi's matches played after the year 2005, sorted in ascending order by match dates. This requires a slight modification in the existing code, wherein you must replace the ______ placeholder with the appropriate content.

```sql
SELECT match_id, date 
FROM Matches 
WHERE YEAR(date) > ______ 
ORDER BY date ASC;

```

To filter Lionel Messi's matches played after the year 2005 and sort them in ascending order by date, replace the `______` with `2005`. Here's how your SQL query should look:

```sql
SELECT match_id, date 
FROM Matches 
WHERE YEAR(date) > 2005 
ORDER BY date ASC;
```

### Explanation:
- `YEAR(date) > 2005`: This filters matches that occurred after 2005.
- `ORDER BY date ASC`: This sorts the matches by date in ascending order. 

This query will return the `match_id` and `date` for all matches played after 2005, sorted from the earliest to the latest.

## Sorting Match Results Correctly

We previously learned about the SQL WHERE clause, which allows us to apply specific conditions to our SQL queries. For this task, your objective will be to identify all Lionel Messi's matches played after the year 2005. You will need to modify the provided SQL query by adding an appropriate WHERE clause.

```sql
SELECT match_id, date
FROM Matches 
ORDER BY date DESC;
```

To identify all of Lionel Messi's matches played after the year 2005, you'll need to add a `WHERE` clause to filter matches based on the year. Here is how you can modify the provided SQL query:

```sql
SELECT match_id, date
FROM Matches 
WHERE YEAR(date) > 2005
ORDER BY date DESC;
```

### Explanation:
- `WHERE YEAR(date) > 2005`: This filters the matches to include only those played after the year 2005.
- `ORDER BY date DESC`: This sorts the matches by date in descending order, showing the most recent matches first.

This query will fetch all matches played after 2005, ordered from the latest to the earliest.

You're making great progress! Your final task involves writing an SQL query from scratch using your knowledge of the SELECT, FROM, and ORDER BY clauses. This task requires you to write a complete SQL query that retrieves match_id, date, and result from the Matches table and orders the results by date in descending order.

```sql
-- TODO: Write an SQL query to select match ID, date, and result ordered by date in descending order

```

Here's a complete SQL query to retrieve `match_id`, `date`, and `result` from the `Matches` table, ordered by `date` in descending order:

```sql
SELECT match_id, date, result
FROM Matches
ORDER BY date DESC;
```

### Explanation:
- **SELECT match_id, date, result**: This specifies the columns you want to retrieve.
- **FROM Matches**: This defines the table from which to retrieve the data.
- **ORDER BY date DESC**: This sorts the results by the `date` column in descending order, showing the latest matches first.

This query will display all matches with their ID, date, and result, ordered from the newest to the oldest.