# Lesson 1: Handling Categorical Data

## Converting 'embarked' to Categorical in Titanic Dataset

## Fix the Titanic Data Transformation

## Handle and Encode Categorical Data

## One-Hot Encode the Embarked Column