# Lesson 1: Complex Groupby Operations in Pandas

## Passenger Fare Statistics on the Titanic

## Detailed Titanic Statistics by Group

## Analyze Titanic Data with Groupby

## Analyzing Titanic Data with Groupby