## Topic Overview

Welcome! Today, we embark on an exploration journey into the role of data preprocessing in the machine learning landscape. And there's no better way to learn than by tackling real-world data. Thus, we'll be utilizing the Titanic dataset, a rich dataset detailing the passenger manifest from the ill-fated maiden voyage of this once-lauded "unsinkable" ship.

Data preprocessing is a vital preliminary step in any machine learning pipeline, capable of transforming raw, discordant data into a format that can be effectively utilized by machine learning algorithms. This whole process includes diverse techniques such as cleaning the data, dealing with missing values, data format transformations, and data normalization. In this lesson, we set the scene for their application.

By the conclusion of today's lesson, you'll possess an understanding of the necessity of preprocessing in machine learning, an overview of the structure and complexity of the Titanic dataset, and the ability to apply preliminary data analysis techniques to extract initial insights.

So, fasten your seatbelts and start the engines!

## Introduction to Data Preprocessing
Data preprocessing is the heart of any machine learning pipeline, capable of magnifying accuracy when done right or leading to poor performance when overlooked. The quality of the output of any machine learning model is directly proportional to the quality of input data. Hence the Golden Rule, "Garbage In, Garbage Out."

In simple terms, the goal of data preprocessing is to cleanse, transform, and format the raw data into a structure that makes it ready for machine learning algorithms. Choosing the right techniques under preprocessing often depends on the specifics of your data, as such, there is no "one-size-fits-all" strategy.

The section today works like an introduction to this broad ocean of skills and sets the foundation for how you'll approach datasets in ensuing lessons.

## Overview of the Titanic Dataset
Having understood the concept of preprocessing, it's time to roll up our sleeves and get our hands dirty with the Titanic dataset. We aim to understand the data structure and its characteristics.

The Titanic dataset comes pre-packaged in the Seaborn library, a visualization library in Python. Let's go ahead and load the dataset.

In [2]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset
titanic_data = sns.load_dataset('titanic')

# Display the first few records
print(titanic_data.head())

# Review the structure of the dataset
print(titanic_data.info())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In the script above, we imported the seaborn and pandas libraries to load the Titanic dataset and describe the data frame, respectively. The structure of the DataFrame is easily reviewed with the .info() method, dishing out crucial details like the number of non-null entries for each feature, the data type of each column, and the count of data points in each feature.

## Drawing Insights from the Titanic Dataset
Before parting, let's take a look at some general statistics from the Titanic dataset, which will help us gain a better understanding of what we just loaded.

Pandas DataFrames provide us with the neat .describe() function, which returns various descriptive statistics that summarize the central tendency, dispersion, and shape of a dataset's distribution.

In [3]:
print(titanic_data.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Using the .describe() function, you can see detailed statistics for each numeric column in your DataFrame. These include the number of non-missing values, mean, standard deviation, median (50 percentile), minimum, and maximum. Studying these statistics provides a fundamental understanding of the characteristics of the data you are working with.

Keep in mind that all the impressive and advanced visualizations and models you'll hear about in data science and machine learning are often built on these humble statistics you're looking at. So, understand these well!

## Lesson Summary and Practice
Great job on reaching the end of the lesson! We started our journey by dipping our toes in the ocean of data preprocessing and explored the Titanic as an example dataset. We unfolded the mystery behind the data structure through some initial data analysis.

Looking back, we started off with the significance of data preprocessing, moved to the initial exploration of the Titanic dataset through understanding its structure, and ended with drawing initial descriptive statistics of the dataset.

For the next stage, get ready for some hands-on exploration of the Titanic dataset using Python and Pandas. The practice will involve gaining on-the-field experience in comprehending datasets. Remember, the magic often lies in the details, and the power to unravel that lies within practice. Keep going, and let the world of data keep fascinating you!

## Data Preprocessing with the Titanic Dataset

Curious to see how missing values are identified within the vast expanse of the Titanic dataset? The provided code embarks on this mission by scanning through the columns and highlighting those records that remain silent, akin to undiscovered stars. Click Run to unveil the mysteries of the incomplete data!

In [4]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset
titanic_data = sns.load_dataset('titanic')

# Identify the columns with missing values
missing_values = titanic_data.isnull().sum()
print("Missing values in each column:\n", missing_values)

# Fill the missing values in 'age' with the median age.
titanic_data['age'].fillna(titanic_data['age'].median(), inplace=True)

# Verify the missing values in 'age' have been filled
print("\nMissing values after imputation in 'age' column:\n", titanic_data['age'].isnull().sum())

Missing values in each column:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Missing values after imputation in 'age' column:
 0

/tmp/ipykernel_431491/1395965461.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['age'].fillna(titanic_data['age'].median(), inplace=True)

## Adjust Filtering to Age and Fare

Let's delve deeper! In the Titanic dataset, you have examined its basic structure and overall statistics. For targeted insights, adjust the code to display summary statistics specifically for the age and fare columns, offering a more focused view of this historical data. Are you ready to enhance your data preprocessing skills?

In [5]:
import seaborn as sns
import pandas as pd

# Load the Titanic dataset
titanic_data = sns.load_dataset('titanic')

# Display the structure of the dataset
print(titanic_data.info())

# Display summary statistics of the dataset
print(titanic_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## Debug the Titanic Dataset Loading Code

Brilliant work so far, Space Voyager! We have a dataset ready for inspection, but it seems our script is tripping over its own feet. Can you identify the hiccup and get the dataset exploration back on track?

The code should output the first few records, the dataset's info, and its general statistics. Look closely—the devil is in the details!

In [8]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset
titanic_data = sns.load_dataset('titanic') 

# Display the first few records
print(titanic_data.head())

# Review the structure of the dataset
print(titanic_data.info())

# Print general statistics of the dataset
print(titanic_data.describe())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200