## Normalize the 'age' Column in the Titanic Dataset

## Standardize the 'fare' Column with NaN values in the Titanic Dataset

## Normalize and Standardize 'age' and 'fare' Columns with Missing Values in the Titanic Dataset

## Standardize on your own