# Lesson 2: Utilizing DISTINCT for Uniqueness Exploration

# Utilizing DISTINCT for Uniqueness Exploration

## Introduction to DISTINCT
Hello again! I hope you enjoyed the previous unit on understanding and using the **COUNT** function. Today, we're going to expand your SQL knowledge further by introducing a new concept: the **DISTINCT** keyword in SQL. While DISTINCT is not strictly a function, it's a powerful keyword/clause that will help you strengthen your data querying skills.

When handling data, especially large datasets, we often encounter duplicate values. The **DISTINCT** keyword helps us remove these duplicates and present a clean, unique list of values. Isn't that handy?!

This concept is common in many areas of life. Imagine you're trying to create a list of all the cities from which your friends come. If three friends come from New York, should we count New York three times? Of course not! We use distinct or unique values, and SQL provides the **DISTINCT** keyword to do just that with our data.

As we learn SQL using Messi's matches, we'll be using **DISTINCT** to explore his distinct sports footprints.

---

## The Need for DISTINCT in Our Database
Given Lionel Messi's rich game history, utilizing **DISTINCT** is quite handy. We can use it to identify unique seasons and much more. It will broaden our understanding of his matches data.

Let's first learn the format of a basic SQL query that uses **DISTINCT**:

```sql
SELECT DISTINCT column_name FROM table_name;
```

It is time to apply this format to our Lionel Messi's matches dataset. Consider the following statement:

```sql
SELECT DISTINCT season_id FROM Matches;
```

### Sneak peek of the output:
```
 season_id
-----------
        1
        2
```

This query will fetch all the distinct or unique **season_id** from the **Matches** table. We use **DISTINCT** to avoid getting repeated IDs in the output.

---

## More Applications of DISTINCT
Let's look at a few more examples using the **DISTINCT** keyword.

What if we want to know all the unique clubs Messi has played for? Simple! We would run:

```sql
SELECT DISTINCT club_id FROM Matches;
```

### Output:
```
 club_id
---------
      1
      2
```

When using **DISTINCT**, it's important to remember that fetching unique values from large datasets can be time-consuming and may slow down your queries. Therefore, always consider the performance implications and use **DISTINCT** only when necessary.

---

## Lesson Wrap-Up and Practice Preview
That wraps up our introduction to the **DISTINCT** keyword in SQL! Well done on expanding your SQL toolkit. Today, you learned to use **DISTINCT** to fetch unique values from a database, which is handy in many data analysis scenarios. We also explored how **DISTINCT** can be applied to Lionel Messi's data for deeper insights.

Now, it's time to apply your newfound knowledge in practice! Next up, you'll be tackling some hands-on exercises using **DISTINCT** with the Lionel Messi dataset. Happy coding!

## Extracting Season IDs Query

Let's start by extracting every season_id from the Matches table. This query will showcase the distribution of matches across various seasons.

-- TODO: Select all seasons from Matches

To extract every `season_id` from the `Matches` table and showcase the distribution of matches across various seasons, you can use the `SELECT` statement in SQL. If you want to ensure that each `season_id` is listed only once, you can use the `DISTINCT` keyword. Here's how you can write the SQL query:

```sql
-- TODO: Select all unique season_ids from Matches
SELECT DISTINCT season_id FROM Matches;
```

This query will return a list of unique `season_id` values from the `Matches` table, allowing you to see which seasons have recorded matches.

## Finding Unique Season IDs

## Fix the Unique Season Query

## Unique Match Venues Retrieval

## Unique Season Identification Task