# Lesson 5: Applying SQL Aggregate Functions to Soccer Data

# Applying SQL Aggregate Functions to Soccer Data

## Quick Recap
Great job on making it this far! Thus far, we've covered a great deal, from drilling into **COUNT** and **DISTINCT** to exploring **SUM** and **GROUP BY**. These are some of the key SQL functions required to dig deep into any dataset. In this unit, we're going to broaden our repertoire by applying these aggregate functions to analyze data related to Lionel Messi's career achievements.

As you may recall from our previous lessons, aggregate functions allow us to perform calculations on a set of values to return a single scalar value. We've already seen the **COUNT** and **SUM** functions in action, but have you ever wondered if we could derive other useful insights, such as averages? That’s where the SQL **AVG** function comes into play.

---

## SUM and AVG Functions
At this juncture, the **SUM** function must seem pretty familiar to you. It does the heavy lifting when we need to find total values. For instance, it calculates total trophies won or total goals scored in our case.

On the other hand, the **AVG** function might be new to you. It's a classic SQL function utilized for calculating the arithmetic mean of a set of values. Simply put, **AVG** can help us determine an average value, such as the average trophies won per season in Lionel Messi's career.

---

## Example 1: Utilizing The SUM Function

```sql
-- Aggregate total trophies won per each season
SELECT Seasons.season_id, SUM(Seasons.trophies_won) AS TotalTrophiesWon
FROM Seasons
JOIN Matches ON Seasons.season_id = Matches.season_id
GROUP BY Seasons.season_id;
```

### Sneak peek of the output:
```
| season_id | TotalTrophiesWon |
|-----------|------------------|
|         1 |                1 |
|         2 |               16 |
```

In the above example, we're using the **SUM** function to find the total trophies won per season in Lionel Messi's career. This is achieved by joining the **Seasons** and **Matches** tables on **season_id**, where **Matches** records the details of matches played in each season. The **GROUP BY** clause ensures we get a total trophies count for each season, providing a comprehensive view of Messi's career achievements.

---

## Example 2: Leveraging The AVG Function

```sql
-- Aggregate average trophies won per each season after 2010
SELECT Seasons.season_id, AVG(Seasons.trophies_won) AS AverageTrophiesWon
FROM Seasons
JOIN Matches ON Seasons.season_id = Matches.season_id
WHERE YEAR(Matches.date) > 2010
GROUP BY Seasons.season_id;
```

### Sneak peek of the output:
```
| season_id | AverageTrophiesWon |
|-----------|--------------------|
|         7 |             3.0000 |
|         8 |             4.0000 |
```

Here, we're introducing the **AVG** function to find the average trophies won per season in Lionel Messi's career after 2010. By filtering matches based on the date condition (**YEAR(Matches.date) > 2010**), we focus on more recent seasons. The **AVG** function calculates the arithmetic mean of trophies won across these seasons, offering insights into Messi's consistent performance over time.

---

## Remembering the GROUP BY Clause
From our past lessons, you should recall that the **GROUP BY** clause groups a result into subsets that share the same attribute value. It’s a vital component when using aggregate functions like **SUM**, **COUNT**, **AVG**, and others because it enables us to apply these functions to each group of data independently, providing us with insightful segmented data.

As you've noticed in our examples, **GROUP BY** plays an essential role when using aggregate functions. We use **GROUP BY** to return a separate sum or average for each season, allowing us to analyze Messi's career achievements in a structured manner.

---

## You Are Almost There
Excellent work on learning how to use the **SUM** and **AVG** functions and mastering their symbiotic relationship with the **GROUP BY** clause. Using these functions isn't always straightforward, but with practice, it will become second nature.

Congratulations on completing this lesson of the course! Let's continue practicing to solidify this knowledge and enhance your SQL skills further.

## Fix SQL Aggregation Query

In this task, we are going to embark on a journey to correct bugs. You are provided with a faulty SQL query designed to calculate the average trophies won per season using data from Lionel Messi's matches. However, the provided starter code is flawed and does not execute as intended. Your task is to identify the mistake and correct it.

-- TODO: Fix the query that aggregates average trophies won per each season after 2010
SELECT Seasons.season_id, AVG(Matches.trophies_won) as AverageTrophiesWon
FROM Seasons
JOIN Matches ON Seasons.season_id = Matches.season_id
WHERE YEAR(Matches.date) > 2010
GROUP BY Seasons.season_id;

Let’s break down the SQL query step by step to understand what each part does:

```sql
SELECT Seasons.season_id, AVG(Seasons.trophies_won) AS AverageTrophiesWon
FROM Seasons
JOIN Matches ON Seasons.season_id = Matches.season_id
WHERE YEAR(Matches.date) > 2010
GROUP BY Seasons.season_id;
```

### 1. **`SELECT Seasons.season_id, AVG(Seasons.trophies_won) AS AverageTrophiesWon`**
- **`SELECT`**: This is used to specify the columns that will be returned in the query result.
- **`Seasons.season_id`**: We're selecting the `season_id` from the `Seasons` table. Each `season_id` represents a particular season.
- **`AVG(Seasons.trophies_won)`**: The **`AVG`** function calculates the **average** of the `trophies_won` column from the `Seasons` table. This gives us the average number of trophies won across the seasons for each group of data. The result is labeled as `AverageTrophiesWon` using the **`AS`** alias.

### 2. **`FROM Seasons`**
- This specifies the **`Seasons`** table as the primary table from which we are retrieving data.
- The `Seasons` table contains information about each season, such as the `season_id` and the number of trophies won in that season (`trophies_won`).

### 3. **`JOIN Matches ON Seasons.season_id = Matches.season_id`**
- **`JOIN`**: This is used to combine rows from two or more tables based on a related column between them. In this case, it’s the `season_id`.
- **`Matches`**: The `Matches` table contains records of individual matches, including details like match dates, trophies won, and the `season_id` which links each match to a specific season.
- **`ON Seasons.season_id = Matches.season_id`**: The condition specifies that we want to join the `Seasons` and `Matches` tables where the `season_id` column from both tables is equal. This ensures that the data from the `Matches` table is correctly matched with the corresponding season in the `Seasons` table.

### 4. **`WHERE YEAR(Matches.date) > 2010`**
- **`WHERE`**: This clause is used to filter rows based on a specified condition.
- **`YEAR(Matches.date) > 2010`**: This condition filters the records to only include matches where the year part of the `date` column (from the `Matches` table) is greater than 2010. This ensures that we only consider matches from seasons after 2010.

### 5. **`GROUP BY Seasons.season_id`**
- **`GROUP BY`**: This clause groups rows that have the same value in the specified column(s). It’s used when performing aggregate functions (like `AVG`, `SUM`, `COUNT`, etc.) to apply those functions to each group of data.
- **`Seasons.season_id`**: This tells the query to group the data by `season_id`. So, for each distinct `season_id`, it will calculate the average trophies won.

### Final Result
- The query returns the **`season_id`** and the **average number of trophies won** for each season (after 2010), considering the matches played in that season.
- It groups the data by season and calculates the average trophies won for that season, based on the match data available.

### Example of Output:

Assume that after running the query, you get this result:

| season_id | AverageTrophiesWon |
|-----------|--------------------|
|         7 |             3.0000 |
|         8 |             4.0000 |
|         9 |             2.5000 |

- **`season_id`**: The unique identifier for each season.
- **`AverageTrophiesWon`**: The average number of trophies won in that season, calculated from the data in the `Matches` table.

This query helps you analyze the average performance (in terms of trophies won) of each season, filtered by seasons after 2010.

## Fix the Aggregate Query

## Calculate Average Trophies Won Per Season

## Calculate Total Trophies Won