# Unit 5 Building Full Preprocessing Pipeline for the Titanic Dataset

# Lesson Introduction

Welcome\! Today, we'll learn how to build a full **preprocessing pipeline** for the Titanic dataset. In real work, you're going to deal with big datasets with lots of features and rows.

We aim to learn how to prepare real data for machine learning models by handling missing values, encoding categorical features, scaling numerical features, and splitting the data into training and test sets.

Imagine you have a messy jigsaw puzzle. You need to organize the pieces, find the edges first, and then start assembling. Data preprocessing is like organizing the pieces before starting the puzzle.

-----

## Load and Prepare the Data

Let's start by loading the **Titanic dataset** using **Seaborn**, which has information about passengers like age, fare, and whether they survived. We'll drop some columns we won't use.

```python
import pandas as pd
import seaborn as sns

# Load the Titanic dataset
df = sns.load_dataset('titanic')

# Drop columns that won't be used
df = df.drop(columns=['deck', 'embarked', 'alive'])

print(df.head())
```

Expected output:

```
   survived  pclass     sex   age  sibsp  parch     fare  who  adult_male  \
0         0       3    male  22.0      1      0   7.2500  man        True   
1         1       1  female  38.0      1      0  71.2833  woman      False   
2         1       3  female  26.0      0      0   7.9250  woman      False   
3         1       1  female  35.0      1      0  53.1000  woman      False   
4         0       3    male  35.0      0      0   8.0500  man        True   
 
     embark_town  alone  
0  Southampton    False  
1    Cherbourg    False  
2  Southampton     True  
3  Southampton    False  
4  Southampton     True  
```

We loaded the dataset and dropped columns `deck`, `embarked`, and `alive` because they have too many missing values or aren't useful. For example, the `embarked` column shouldn't affect the passenger's survival rate, so it's questionable as a feature.

-----

## Handle Missing Values

Next, let's handle missing values using **SimpleImputer** from **SciKit Learn**.

```python
from sklearn.impute import SimpleImputer

# Handle missing values
imputer_num = SimpleImputer(strategy='mean')
imputer_cat = SimpleImputer(strategy='most_frequent')

df['age'] = imputer_num.fit_transform(df[['age']])
df['embark_town'] = imputer_cat.fit_transform(df[['embark_town']].values.reshape(-1, 1)).ravel()
df['fare'] = imputer_num.fit_transform(df[['fare']])

print(df.head())
```

As a reminder, `ravel()` is a method in NumPy that returns a contiguous flattened array. In this context, it's used to flatten the column vector returned by `fit_transform()` into a 1-dimensional array. This ensures that the `embark_town` column is reshaped back into a 1-D array that fits into the DataFrame correctly.

Expected output:

```
   survived  pclass     sex   age  sibsp  parch     fare  who  adult_male  \
0         0       3    male  22.0      1      0   7.2500  man        True   
1         1       1  female  38.0      1      0  71.2833  woman      False   
2         1       3  female  26.0      0      0   7.9250  woman      False   
3         1       1  female  35.0      1      0  53.1000  woman      False   
4         0       3    male  35.0      0      0   8.0500  man        True   
 
     embark_town  alone  
0  Southampton    False  
1    Cherbourg    False  
2  Southampton     True  
3  Southampton    False  
4  Southampton     True  
```

We filled missing numerical data (`age`, `fare`) using the mean and categorical data (`embark_town`) using the most frequent value. This is like guessing a missing puzzle piece based on surrounding ones.

-----

## Encode Categorical Features: Part 1

Machine learning models need numerical data. So, we use **OneHotEncoder** to convert categorical features into numbers.

```python
from sklearn.preprocessing import OneHotEncoder

# Encode categorical features
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_columns = encoder.fit_transform(df[['sex', 'class', 'embark_town', 'who', 'adult_male', 'alone']])
encoded_df = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(['sex', 'class', 'embark_town', 'who', 'adult_male', 'alone']))
```

-----

## Encode Categorical Features: Part 2

Next, we drop the original categorical columns and concatenate the new encoded columns with the DataFrame.

```python
# Drop and concatenate
df = df.drop(columns=['sex', 'class', 'embark_town', 'who', 'adult_male', 'alone'])
df = pd.concat([df.reset_index(drop=True), encoded_df], axis=1)

print(df.head())
```

Expected output:

```
   survived  pclass   age  sibsp  parch     fare  alone  sex_male  \
0         0       3  22.0      1      0   7.2500  False       1.0   
1         1       1  38.0      1      0  71.2833  False       0.0   
2         1       3  26.0      0      0   7.9250   True       0.0   
3         1       1  35.0      1      0  53.1000  False       0.0   
4         0       3  35.0      0      0   8.0500   True       1.0   
 
   class_2  class_3  embark_town_Queenstown  embark_town_Southampton  \
0      0.0      1.0                     0.0                      1.0   
1      0.0      0.0                     0.0                      0.0   
2      0.0      1.0                     0.0                      1.0   
3      0.0      0.0                     0.0                      1.0   
4      0.0      1.0                     0.0                      1.0   
 
   who_man  who_woman  adult_male_True  
0      1.0        0.0              1.0  
1      0.0        1.0              0.0  
2      0.0        1.0              0.0  
3      0.0        1.0              0.0  
4      1.0        0.0              1.0  
```

We converted the categorical columns into numerical ones, dropped the originals, and added the new encoded columns. It's like translating words into a secret code for a robot.

-----

## Feature Scaling

Feature scaling ensures all numerical values are on a similar scale. We use **StandardScaler** for this.

```python
from sklearn.preprocessing import StandardScaler

# Feature scaling
scaler = StandardScaler()
scaled_columns = scaler.fit_transform(df[['age', 'fare']])
scaled_df = pd.DataFrame(scaled_columns, columns=['age', 'fare'])

# Drop and concatenate
df = df.drop(columns=['age', 'fare'])
df = pd.concat([df.reset_index(drop=True), scaled_df], axis=1)

print(df.head())
```

Expected output:

```
   survived  pclass  sibsp  parch  alone  sex_male  class_2  class_3  \
0         0       3      1      0  False       1.0      0.0      1.0   
1         1       1      1      0  False       0.0      0.0      0.0   
2         1       3      0      0   True       0.0      0.0      1.0   
3         1       1      1      0  False       0.0      0.0      0.0   
4         0       3      0      0   True       1.0      0.0      1.0   
 
   embark_town_Queenstown  embark_town_Southampton  who_man  who_woman  \
0                     0.0                      1.0      1.0        0.0   
1                     0.0                      0.0      0.0        1.0   
2                     0.0                      1.0      0.0        1.0   
3                     0.0                      1.0      0.0        1.0   
4                     0.0                      1.0      1.0        0.0   
 
   adult_male_True       age      fare  
0              1.0 -0.530376 -0.502445  
1              0.0  0.571829  0.788947  
2              0.0 -0.254596 -0.488854  
3              0.0  0.400810  0.420731  
4              1.0  0.400810 -0.486337  
```

We scaled our numerical data (`age`, `fare`) to have a mean of 0 and a standard deviation of 1. This is like resizing puzzle pieces to fit perfectly.

-----

## Separate Features and Target Variable

Next, we separate our features (used for predictions) and the target variable (the outcome we predict).

```python
# Separate features and target variable
X = df.drop(columns=['survived'])
y = df['survived']

print("X:\n", X.head())
print("\ny:\n", y.head())
```

Expected output:

```
X:
    pclass  sibsp  parch  alone  sex_male  class_2  class_3  embark_town_Queenstown  \
0       3      1      0  False       1.0      0.0      1.0                     0.0   
1       1      1      0  False       0.0      0.0      0.0                     0.0   
2       3      0      0   True       0.0      0.0      1.0                     0.0   
3       1      1      0  False       0.0      0.0      0.0                     0.0   
4       3      0      0   True       1.0      0.0      1.0                     0.0   
 
   embark_town_Southampton  who_man  who_woman  adult_male_True       age  \
0                      1.0      1.0        0.0              1.0 -0.530376   
1                      0.0      0.0        1.0              0.0  0.571829   
2                      1.0      0.0        1.0              0.0 -0.254596   
3                      1.0      0.0        1.0              0.0  0.400810   
4                      1.0      1.0        0.0              1.0  0.400810   
 
       fare  
0 -0.502445  
1  0.788947  
2 -0.488854  
3  0.420731  
4 -0.486337  

y:
 0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64
```

Here, `X` contains all features except `survived`, and `y` contains the `survived` column. This helps in training the model more efficiently.

-----

## Train-Test Split

Finally, we split the dataset into training and test sets using **train\_test\_split**. This lets us train the model on one part of the data and test it on another.

```python
from sklearn.model_selection import train_test_split

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training set size: {len(X_train)}, Test set size: {len(X_test)}")
```

Expected output:

```
Training set size: 712, Test set size: 179
```

We split the data so 80% is used for training and 20% for testing. This step is like practicing with some pieces before trying the whole puzzle.

-----

## Lesson Summary

Today, we:

  * **Loaded and prepared** the Titanic dataset.
  * **Handled missing values**.
  * **Encoded categorical features**.
  * **Scaled numerical features**.
  * **Separated features and the target variable**.
  * **Split the dataset** into training and test sets.

Now, you'll get to practice these steps hands-on. Happy learning\!

## Drop Unwanted Titanic Columns

Hey Space Navigator, let's continue our journey! We need to load the Titanic dataset and drop some columns we don't need. Fill in the missing lines to load the Titanic dataset using Seaborn and drop the specified columns. Let's ace this mission!


```python
import pandas as pd
import seaborn as sns

# Load the Titanic dataset
df = sns.load_dataset('titanic')

# TODO: Drop columns that won't be used: deck, embarked and alive

# Display the modified dataset
print(df.head())

```

```python
import pandas as pd
import seaborn as sns

# Load the Titanic dataset
df = sns.load_dataset('titanic')

# Drop columns that won't be used: deck, embarked and alive
df = df.drop(columns=['deck', 'embarked', 'alive'])

# Display the modified dataset
print(df.head())
```

## Handle Missing Values in Titanic Dataset

Great job so far, Galactic Pioneer! Let's handle some missing data before we move ahead. Fill in the TODOs to complete the code.

Cleaning your dataset by filling in missing values helps ensure that the analysis is accurate and meaningful.

```python
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer

# Load the Titanic dataset
df = sns.load_dataset('titanic')

# Drop some columns for simplicity
df = df.drop(columns=['deck', 'embarked', 'alive'])

# TODO: Handle missing values in 'age' and 'fare' using mean

print(df[['age', 'fare']].isna().sum())  # should be 0 if NaNs are handled!
```

```python
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer

# Load the Titanic dataset
df = sns.load_dataset('titanic')

# Drop some columns for simplicity
df = df.drop(columns=['deck', 'embarked', 'alive'])

# Handle missing values in 'age' and 'fare' using mean
imputer_num = SimpleImputer(strategy='mean')

# Apply to 'age' column
df['age'] = imputer_num.fit_transform(df[['age']])

# Apply to 'fare' column
# Note: While 'fare' has very few missing values (or sometimes none in the default dataset),
# it's good practice to apply the imputer if you expect missing values in real-world scenarios.
df['fare'] = imputer_num.fit_transform(df[['fare']])


print(df[['age', 'fare']].isna().sum())
```

## Encode Categorical Features and Concatenate

## Handle Missing Values and Feature Scaling