# Lesson 4: SQL FULL JOIN Mastery with Messi's Matches

# SQL FULL JOIN Mastery with Messi's Matches

## Introduction to SQL FULL JOIN Mastery
Hello there! It's great to see that you've stuck around for the next exciting topic on our soccer journey with Leo Messi's career and SQL **JOINs**. After introducing ourselves to **INNER JOIN**, **LEFT JOIN**, and **RIGHT JOIN** in the earlier lessons, we're now moving on to the fourth and final type – true to its name, the **FULL JOIN**.

SQL **JOINs** are essential when it comes to processing data, and having a command over **FULL JOINs** can help you effectively analyze intricate data relations. For this lesson, we will be continuing with MySQL, but remember, the understanding of SQL you garner here is transferable to other relational database management systems (RDBMS) such as PostgreSQL, SQL Server, and SQLite, with just slight differences in their syntax.

---

## Traversing Through JOINs and Understanding FULL JOIN
Before we plunge into **FULL JOIN**, let's reinforce our knowledge of **JOINs**. SQL **JOINs** enable us to merge rows from two or more tables based on a common column among them. 

- **INNER JOIN** returns rows where there is a match in both tables. 
- **LEFT JOIN** gives all records from the left table and the matched records from the right one. 
- **RIGHT JOIN**, conversely, returns all records from the right table and the matched records from the left one.

**FULL JOIN** in SQL straddles the territory between **LEFT JOIN** and **RIGHT JOIN**. It provides all records where there is a match in either the left table or the right one, essentially unifying the results of **LEFT JOIN** and **RIGHT JOIN** to offer a comprehensive view of your data.

This simple visual aid below can help make sense of it, where A and B are the tables we are joining and the green areas depict the results of different **JOINs**.

---

## Practical Implementation Of SQL FULL JOIN in MySQL
Let's put our concepts into practice using **FULL JOIN** to merge relevant data from Messi's **Matches** and **MatchEvents**:

```sql
-- First part: Fetch all matches and their associated events
SELECT Matches.match_id, Matches.date, MatchEvents.event_type
FROM Matches
LEFT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id

UNION ALL

-- Second part: Retrieve events with no matching matches, ensuring we aren't omitting any data
SELECT Matches.match_id, Matches.date, MatchEvents.event_type
FROM Matches
RIGHT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id
WHERE Matches.match_id IS NULL;
```

### Sneak Peek of the Output:
| match_id | date       | event_type         |
|----------|------------|---------------------|
| 1        | 2005-05-01 | Left-footed shot    |
| 2        | 2005-11-02 | Left-footed shot    |

In this query, we adopt a bifurcated strategy. The first section applies a **LEFT JOIN** to list all matches along with their corresponding events, if any. The latter section, which is essential for simulating a **FULL JOIN**, uses a **RIGHT JOIN** to cover those rows from the **MatchEvents** table that fail to find a match in the **Matches** table (we ensure this by checking `WHERE Matches.match_id IS NULL`).

By joining these two parts through **UNION ALL**, we effectively simulate a **FULL JOIN**, yielding a complete view that includes all matched and unmatched records from both tables.

---

## Managing NULL Values in FULL JOIN Operations
In the query we've just dissected, the condition `WHERE Matches.match_id IS NULL` in the second select statement plays a crucial role. This ensures that only those records from the **MatchEvents** table are added that are not in the **Matches** table. By handling **NULL** values in this way, we ensure that our dataset is complete, which is extremely valuable for data analysts who want to cover all possible angles in their exploration.

---

## Lesson Recap
You've now learned how to emulate a **FULL JOIN** in MySQL, developing queries that provide a thorough understanding of the relationships between Messi's matches and match events. Today's lesson involved a meticulous application of SQL, giving you an improved set of technical skills and a more refined critical approach.

As you move on to the practice exercises, remember the structured method of merging **LEFT JOIN** and **RIGHT JOIN** operations. This will help solidify your understanding and demonstrate how malleable SQL techniques can solve even the most convoluted data problems. Remember, continue to apply your knowledge with imagination and precision!

## Exploring Matches and Match Events

In this task, we will extend our SQL query to retrieve data about matches from different seasons, including specific match events. The task will involve joining multiple tables to acquire detailed information about each match and specific events that occurred during them.

-- TODO: Retrieve all matches, their corresponding events
SELECT Matches.date, ____________ 
FROM Matches 
RIGHT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;

To extend your SQL query and retrieve detailed information about matches from different seasons, including specific events, you can join multiple tables such as `Matches`, `MatchEvents`, and `Seasons`. Here’s how you can modify the query to include details like the season name:

```sql
-- Retrieve match date, season name, and event type
SELECT Matches.date, Seasons.season, MatchEvents.event_type 
FROM Matches 
JOIN Seasons 
ON Matches.season_id = Seasons.season_id
RIGHT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;
```

### Explanation
1. **`Matches.date`**: Fetches the date of the match.
2. **`Seasons.season_name`**: Retrieves the name of the season from the `Seasons` table, joined via `season_id`.
3. **`MatchEvents.event_type`**: Gets the type of event from the `MatchEvents` table.
4. **`JOIN Seasons`**: Connects the `Matches` table with the `Seasons` table to include season information.
5. **`RIGHT JOIN MatchEvents`**: Ensures that all events from the `MatchEvents` table are shown, even if there are no matches associated with them.

### Note
- If your `Seasons` table does not have a `season_name` column, replace it with the appropriate column name.
- This query brings in all records from the `MatchEvents` table and only matches from `Matches` that have events, including season information. If you need all matches regardless of events, you might want to switch to a `LEFT JOIN` instead.

## Simulating FULL JOIN

Your new objective is to craft an SQL command to retrieve the match date and the match event type from the Matches and MatchEvents tables, respectively, while ensuring connectivity based on the match_id using a FULL JOIN. As MySQL does not support FULL JOIN directly, you will use a combination of LEFT JOIN and RIGHT JOIN (include records that do not have matches in either table) and merge the results using UNION.

Please fill in the blanks in the provided starter code by inputting the correct column names and join types to parallel what you've learned. Your focus is to simulate a FULL JOIN to ensure no data is missed out. Let's get started!

-- TODO: Fetch match date and match event from Matches and MatchEvents tables
SELECT _______._________, _______._______
FROM Matches 
_______ JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;

UNION

SELECT _______._________, _______._______
FROM Matches 
_______ JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;

To simulate a `FULL JOIN` in MySQL using a combination of `LEFT JOIN` and `RIGHT JOIN`, you can follow the pattern below. The idea is to use `UNION` to combine the results from a `LEFT JOIN` (all records from `Matches` and their corresponding events) and a `RIGHT JOIN` (all records from `MatchEvents` and their corresponding matches).

Here’s how you can complete the query:

```sql
-- Fetch match date and match event from Matches and MatchEvents tables using a simulated FULL JOIN
SELECT Matches.date, MatchEvents.event_type
FROM Matches 
LEFT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id

UNION

SELECT Matches.date, MatchEvents.event_type
FROM Matches 
RIGHT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;
```

### Explanation:
1. **`LEFT JOIN`**: Retrieves all records from the `Matches` table and the matching records from `MatchEvents`. If no match is found, `event_type` will be `NULL`.
2. **`RIGHT JOIN`**: Retrieves all records from the `MatchEvents` table and the matching records from `Matches`. If no match is found, `date` will be `NULL`.
3. **`UNION`**: Combines the results of both queries, ensuring that all records from both tables are included.

This approach ensures that you capture all possible matches and events, even if they don’t have a corresponding entry in the other table.

## Full Roster Exploration with SQL Full Join

Your next challenge is an exploration of SQL FULL JOIN by listing all football matches and events they have played for. Use the FULL JOIN clause to combine details with the teams they have been associated with, based on a common match_id. If there is no match found for a player in the Teams table, or for a team in the Matches table, the result should still show the details from the other table with null values for the unmatched records.

-- TODO: Fetch all matches and events they have played for using FULL JOIN

## Emulating FULL JOIN in PostgreSQL

Your next challenge is an exploration of SQL FULL JOIN by listing all football matches and events they have played for. Use the FULL JOIN clause to combine details with the teams they have been associated with, based on a common match_id. If there is no match found for a player in the Teams table, or for a team in the Matches table, the result should still show the details from the other table with null values for the unmatched records.

```sql

SELECT Matches.match_id, Matches.date, MatchEvents.event_type
FROM Matches
LEFT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id

UNION ALL

-- Second part: Retrieve events with no matching matches, ensuring we aren't omitting any data
SELECT Matches.match_id, Matches.date, MatchEvents.event_type
FROM Matches
RIGHT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id
WHERE Matches.match_id IS NULL;

```

To emulate a `FULL JOIN` effect in MySQL, we can follow the instructions as specified. Since MySQL doesn't support `FULL JOIN` directly, we can use a combination of `LEFT JOIN` and `RIGHT JOIN`, then merge the results using `UNION ALL`. Here's how we can proceed:

### Step 1: **LEFT JOIN** - Extract all matches alongside their events, even if there are no associated records in the `MatchEvents` table.

```sql
-- TODO 1: Extract all matches alongside their events using a LEFT JOIN
SELECT 
    Matches.match_id,
    Matches.date,
    Matches.matchday,
    Matches.venue,
    Matches.result,
    MatchEvents.event_id,
    MatchEvents.playing_position,
    MatchEvents.minute,
    MatchEvents.at_score,
    MatchEvents.event_type,
    MatchEvents.goal_assist_id
FROM Matches
LEFT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id;
```

- **LEFT JOIN**: This ensures that all records from the `Matches` table are returned, and if there is no match in the `MatchEvents` table, the corresponding `MatchEvents` fields will be `NULL`.

### Step 2: **RIGHT JOIN** - Extract all match events and include matches that may not have associated events. Filter dates where the year is greater than 2005.

```sql
-- TODO 2: Extract all match events and include matches without associated events, using a RIGHT JOIN
SELECT 
    Matches.match_id,
    Matches.date,
    Matches.matchday,
    Matches.venue,
    Matches.result,
    MatchEvents.event_id,
    MatchEvents.playing_position,
    MatchEvents.minute,
    MatchEvents.at_score,
    MatchEvents.event_type,
    MatchEvents.goal_assist_id
FROM MatchEvents
RIGHT JOIN Matches ON Matches.match_id = MatchEvents.match_id
WHERE YEAR(Matches.date) > 2005;
```

- **RIGHT JOIN**: This returns all records from the `MatchEvents` table, and if there is no matching record in `Matches`, the corresponding `Matches` fields will be `NULL`.
- **WHERE** clause: Filters the records to only include matches with dates after 2005.

### Step 3: **UNION ALL** - Combine both the LEFT JOIN and RIGHT JOIN results to create a complete dataset, ensuring that both associated and non-associated records from both tables are included.

```sql
-- TODO 3: Apply the UNION ALL clause to merge the findings
SELECT 
    Matches.match_id,
    Matches.date,
    Matches.matchday,
    Matches.venue,
    Matches.result,
    MatchEvents.event_id,
    MatchEvents.playing_position,
    MatchEvents.minute,
    MatchEvents.at_score,
    MatchEvents.event_type,
    MatchEvents.goal_assist_id
FROM Matches
LEFT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id

UNION ALL

SELECT 
    Matches.match_id,
    Matches.date,
    Matches.matchday,
    Matches.venue,
    Matches.result,
    MatchEvents.event_id,
    MatchEvents.playing_position,
    MatchEvents.minute,
    MatchEvents.at_score,
    MatchEvents.event_type,
    MatchEvents.goal_assist_id
FROM MatchEvents
RIGHT JOIN Matches ON Matches.match_id = MatchEvents.match_id
WHERE YEAR(Matches.date) > 2005;
```

### Explanation:
- **First Part (LEFT JOIN)**: Extracts all matches, including those without events.
- **Second Part (RIGHT JOIN)**: Extracts all events, including those without associated matches (filtering to only include matches after 2005).
- **UNION ALL**: Combines the two result sets to create a "full" dataset that includes all matches and all events, regardless of whether they have matching counterparts in the other table.

### Key Points:
- The use of `UNION ALL` ensures no data is lost, even if the same record exists in both result sets.
- **LEFT JOIN** ensures that all matches are included, even if they have no associated events.
- **RIGHT JOIN** ensures that all events are included, even if they have no associated matches.

This approach mimics the effect of a `FULL JOIN` by combining the results from both `LEFT JOIN` and `RIGHT JOIN` queries.

Let’s dive into an SQL task that interacts with Messi’s match data. Specifically, you're asked to write an SQL query using a combination of LEFT JOIN and RIGHT JOIN to create a FULL JOIN effect. Retrieve matches and their associated events, but only from the year 2005 onwards. Ensure that the query also handles the case where Matches.date is NULL.

-- TODO: Complete the query to include other relevant records and handle the case where the match year is NULL
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
LEFT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id
WHERE YEAR(Matches.date) > 2005

UNION ALL

SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
RIGHT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id
WHERE ________(Matches.date) > ________ AND ________(Matches.date) IS ________;

To complete this query, we need to ensure that the `RIGHT JOIN` part handles matches where the `Matches.date` is `NULL` and filters based on the year (for matches post-2005). Here's how to fill in the missing parts of the `RIGHT JOIN` query:

1. We need to check that the `Matches.date` is greater than 2005 (for matches after that year).
2. We also need to handle the case where `Matches.date` is `NULL` by including a condition that allows `NULL` values to be present in the result set.

Here's the completed query:

```sql
-- TODO: Complete the query to include other relevant records and handle the case where the match year is NULL
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
LEFT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id
WHERE YEAR(Matches.date) > 2005

UNION ALL

SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
RIGHT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id
WHERE (YEAR(Matches.date) > 2005 OR Matches.date IS NULL);
```

### Explanation:
1. **LEFT JOIN**: This part of the query ensures that we retrieve all matches, even if they don't have associated events. The `WHERE YEAR(Matches.date) > 2005` condition ensures that only matches from 2005 onwards are included.
   
2. **RIGHT JOIN**: This ensures we also retrieve all match events, including those that may not be associated with a match. The condition `(YEAR(Matches.date) > 2005 OR Matches.date IS NULL)`:
   - **`YEAR(Matches.date) > 2005`**: Filters to include matches from 2005 and onwards.
   - **`Matches.date IS NULL`**: Ensures that if a match record is missing (i.e., the date is `NULL`), it still includes those match events.

3. **UNION ALL**: This combines both result sets (matches with or without events and events with or without associated matches), ensuring we get a complete view, including records where matches or events are missing.

This solution ensures that we include all relevant records, even when `Matches.date` is `NULL`, as per your requirements.