# Lesson 2: Exploring INNER JOIN with Messi's Match Data

# Exploring INNER JOIN with Messi's Match Data

## Welcome and Recap
Salute and welcome back! It's splendid to see you eager to sink deeper into the cosmos of SQL **JOINs** through our athletic sentinel, Leo Messi's career statistics. Previously, we cast light on distinct kinds of **JOINs** and toured separately through the rich tables in our football database. Our next itinerary involves an in-depth discussion of **INNER JOIN**.

---

## Exploring INNER JOIN
In this session, we aim to detail one vital type of **JOIN**: the **INNER JOIN**. Essentially, the **INNER JOIN** in SQL is a clause that merges rows from two tables based on a shared column between them. The output is a result set that exclusively includes the rows satisfying the match condition.

Before we rush headlong into any particular examples, let's take a minute to inspect the standard syntax for running an **INNER JOIN**:

```sql
SELECT column1, column2, ...
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
```

This syntax is the scaffolding of our queries anytime we desire to intertwine data from two interconnected tables. We'll explore the practical interpretation of this structure in joining **Matches** and **MatchEvents** later in this lesson.

By the completion of this lesson, you should be skilled at fetching match and event data from the **MatchEvents** and **Matches** tables using **INNER JOIN**. The key `match_id` will serve as the common link between these two tables.

---

## INNER JOIN in Action
Let's inaugurate with a barebones example:

Suppose we have a **MatchEvents** table showcasing the event **Left-footed shot**. This event can be found in the **Matches** table under the `match_id` **12345**. We can cleverly exploit an **INNER JOIN** to unify these two tables:

```sql
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;
```

### Sneak Peek of the Output:
| date       | event_type        |
|------------|-------------------|
| 2005-05-01 | Left-footed shot  |
| 2005-11-02 | Left-footed shot  |

In this SQL statement:

- `SELECT Matches.date, MatchEvents.event_type` designates the information we desire â€” the date from the **Matches** table and the event_type from the **MatchEvents** table.
- `FROM Matches` marks out the table we launch our query from.
- `INNER JOIN MatchEvents` specifies our aim to associate the **Matches** table with the **MatchEvents** table.
- `ON Matches.match_id = MatchEvents.match_id` is the crucial condition linking these tables. It states that the join should manifest on the `match_id` columns, which should exist in both tables. This condition certifies that rows from **Matches** and **MatchEvents** are matched correctly.

After executing the **INNER JOIN** query on the **Matches** and **MatchEvents** tables, the result generates an exhaustive list that matches each event with its respective date. This output exemplifies the power of **INNER JOIN** to proficiently bind related data from two tables, delivering a crystal-clear overview of the association between matches and events.

---

## Reversing the Order
We polish this topic by fetching all the event types and their corresponding match dates in descending order of `match_id`. Here is the template for the query:

```sql
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id 
ORDER BY Matches.match_id DESC;
```

### Sneak Peek of the Output:
| date       | event_type          |
|------------|---------------------|
| 2023-03-04 | Left-footed shot    |
| 2023-02-26 | Right-footed shot   |

In this scenario, the `ORDER BY Matches.match_id DESC` condition organizes the results in descending order by `match_id`.

---

## Epilogue
Well done! You've conquered much territory over this lesson. You've mastered the **INNER JOIN** instruction to pull out specific data from two interlaced tables. This SQL instrument is priceless in exploring the intricate connections buried within databases. Continue practicing, and before you know it, you'll be churning out SQL statements just like Messi scores goals!

## Exploring Matches and Events Relationships with SQL INNER JOIN

Great job grasping SQL JOINs! It's time to put your knowledge into action. Execute the following code to fetch the match dates and their corresponding events from the Matches and MatchEvents tables.

Observe the output to understand the workings of this query more deeply.

```sql
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;

```

## Filtering and Ordering Matches Data with SQL INNER JOIN

In this exercise, you need to write a SQL query to retrieve all match dates and events after the year 2005. The provided SQL code has an error preventing it from running correctly. Identify and correct the mistake to complete the task successfully.

-- TODO: Complete the INNER JOIN clause with the MatchEvents table
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN 
ON Matches.match_id = MatchEvents.match_id
WHERE YEAR(Matches.date) > 2005;

The error in the provided SQL code is that the table name `MatchEvents` is missing from the `INNER JOIN` clause. You need to specify the name of the table to complete the `INNER JOIN`. Here is the corrected query:

```sql
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id
WHERE YEAR(Matches.date) > 2005;
```

### Explanation of the Correction:
- **`INNER JOIN MatchEvents`**: Added `MatchEvents` to complete the `INNER JOIN` clause, linking it properly to the `Matches` table.
- The rest of the query uses the `WHERE` clause to filter for match dates that are after the year 2005 using `YEAR(Matches.date) > 2005`.

## Debugging SQL Query to Fetch Specific Matches

In this exercise, you'll enhance a query to filter for precise matches. Your task is to modify the given query to display match dates and events for matches played after the year 2005.

-- TODO: Filter matches to display those played after the year 2005
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id
WHERE ________;

To filter matches played after the year 2005, you can update the `WHERE` clause as follows:

```sql
-- Filter matches to display those played after the year 2005
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id
WHERE Matches.date > '2005-12-31';
```

### Explanation:
- `Matches.date > '2005-12-31'` ensures that only matches occurring after December 31, 2005, are included.

## Filtering Matches by Match date

Great work on getting this far! This final task will let you demonstrate your mastery of SQL INNER JOINS by writing your own SQL query from scratch. You are challenged to write a SQL query to retrieve all the match dates and their respective match events from the Matches and MatchEvents tables.

-- TODO: Write SQL INNER JOIN statement to retrieve match dates and their respective match events.

Here is a SQL `INNER JOIN` query to retrieve all match dates and their respective match events from the `Matches` and `MatchEvents` tables:

```sql
-- Retrieve match dates and their respective match events
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
INNER JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;
```

### Explanation:
- **`INNER JOIN`**: Combines records from both tables where there is a matching `match_id` in both the `Matches` and `MatchEvents` tables.
- **`Matches.date`** and **`MatchEvents.event_type`**: Retrieves the date of the match and the type of event associated with it.

## Unveiling the Matches and Events with INNER JOIN

Adapt the provided query to utilize a RIGHT JOIN for combining the Matches and MatchEvents tables.

The adjusted query will list all rows from the MatchEvents table (now in the right position) alongside the corresponding records from the Matches table (in the left position). If an event does not have a matching match in the Matches table, the output should display NULL for the missing match data. Alter the existing LEFT JOIN query to achieve this task.
-- Select Match date and Event from the Matches and MatchEvents tables respectively
-- Undertake a right join on both tables based on match_id
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
LEFT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;


To adapt the provided `LEFT JOIN` query to a `RIGHT JOIN` and ensure the `MatchEvents` table is on the right position while listing all its rows, the modified query would look like this:

```sql
-- Select Match date and Event from the Matches and MatchEvents tables respectively
-- Perform a RIGHT JOIN on both tables based on match_id
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
RIGHT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;
```

### Explanation:
- **`RIGHT JOIN`**: Ensures all rows from the `MatchEvents` table are included in the result, with matching rows from the `Matches` table. If a match is not found in the `Matches` table, the `Matches.date` will display `NULL`.