# Lesson 3: Understanding Advanced SQL Joins with Messi's Match Data

# Understanding Advanced SQL Joins with Messi's Match Data

## Introduction to Diving Deeper into Joins
Great work! You've grasped the essentials and have now explored **INNER JOIN** while analyzing Lionel Messi's match history. Now it's time to delve deeper into SQL **JOINs** using the data from Messi's matches and career stats. We are going to focus on **LEFT JOIN** and **RIGHT JOIN** in this course. Before we start working with the more detailed soccer data at our disposal, it's vital for us to clearly understand these joins through a simpler example.

---

## Recap of SQL Joins
Before we start, keep in mind that SQL **JOINs** allow us to combine data from two or more tables based on a related column. We've previously worked with **INNER JOIN**, which selects rows that have matching values in both tables. In this lesson, we'll see how **LEFT JOIN** and **RIGHT JOIN** can help us manipulate our data further.

---

## Sample Tables Overview
To help understand these **JOIN** types, consider two simple tables: **Matches** and **MatchEvents**.

### Matches Table:

| match_id | season_id | competition_id | matchday | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|----------|------------|-------|---------|-------------|--------|
| 1        | 1         | 1              | 34       | 2005-01-05 | H     | 1       | 2           | 2:0    |
| 2        | 2         | 2              | Group Stage | 2005-11-02 | H     | 1       | 2           | 5:0    |

The **Matches** table provides detailed information about each match, including the `match_id`, `date`, `result`, and other relevant attributes like season, competition, venue, and participating clubs. This is useful for tracking the specifics of when, where, and against whom each match took place.

### MatchEvents Table:

| event_id | match_id | playing_position | minute | at_score | event_type         | goal_assist_id |
|----------|----------|------------------|--------|----------|---------------------|-----------------|
| 1        | 1        | CF               | 90+1   | 2:0      | Left-footed shot    | 1               |
| 2        | 2        | RW               | 34     | 3:0      | Left-footed shot    | NULL            |

The **MatchEvents** table helps to connect each match to the events that happened in it using corresponding `match_id` values.

---

## INNER JOIN Explained
**INNER JOIN** returns rows when there's a match in both tables. If there's no match, those rows are not included in the output.

### Example:

```sql
SELECT Matches.match_id, Matches.result, MatchEvents.event_id, MatchEvents.event_type
FROM Matches
INNER JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id;
```

### Sneak Peek of the Output:
| match_id | result | event_id | event_type         |
|----------|--------|----------|---------------------|
| 1        | 2:0    | 1        | Left-footed shot    |
| 2        | 5:0    | 2        | Left-footed shot    |

---

## Understanding the LEFT JOIN
**LEFT JOIN** includes all rows from the left table, along with any matches from the right table. If there's no match, the output displays **NULL** for the right table's columns.

### Example:

```sql
SELECT Matches.match_id, Matches.result, MatchEvents.event_id, MatchEvents.event_type
FROM Matches
LEFT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id;
```

### Sneak Peek of the Output:
| match_id | result | event_id | event_type         |
|----------|--------|----------|---------------------|
| 1        | 2:0    | 1        | Left-footed shot    |
| 2        | 5:0    | 2        | Left-footed shot    |

---

## Diving into the RIGHT JOIN
**RIGHT JOIN** ensures that every row from the right table is included in the output, with matched rows from the left table.

### Example:

```sql
SELECT Matches.match_id, Matches.result, MatchEvents.event_id, MatchEvents.event_type
FROM Matches
RIGHT JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id;
```

### Sneak Peek of the Output:
| match_id | result | event_id | event_type         |
|----------|--------|----------|---------------------|
| 1        | 2:0    | 1        | Left-footed shot    |
| 2        | 5:0    | 2        | Left-footed shot    |

**Note:** With the provided sample tables, there currently seems to be no visible difference due to the limited number of rows and the fact that each match has a corresponding event. However, in general, there is a difference: **RIGHT JOIN** includes all rows from the right table (**MatchEvents**) and any corresponding rows from the left table (**Matches**). It's advisable to try this on tables with more rows and different cases where some rows in the right table do not have corresponding rows in the left table to see the full effect.

---

## Summary and Next Steps
Having explored **INNER JOIN**, **LEFT JOIN**, and **RIGHT JOIN** in detail:

- **INNER JOIN** returns rows with matching values in both tables.
- **LEFT JOIN** holds all data from the left table, irrespective of whether there's a match in the right.
- **RIGHT JOIN** behaves similarly to **LEFT JOIN** but favors the right table.

With a solid understanding of each **JOIN** type, we are now ready to explore even more complex queries using the Messi match and event dataset in upcoming lessons. Prepare to delve into **FULL JOIN** in our next lesson, as we continue unraveling the subtleties of SQL **JOINs**. Journey onward in your SQL exploration!

## Exploring Left Joins with Leo Messi's Matches Data

## Exploring RIGHT JOIN in SQL

Good work on performing the LEFT JOIN and RIGHT JOIN individually. We are now at another interesting stage in our SQL learning journey. This time, the SQL query for RIGHT JOIN is provided, but there is an error in the code.

The script is expected to join the Matches and MatchEvents tables, bringing all entries from the MatchEvents table and the matching entries from the Matches table. If no event is found for a match in the Matches table, the result should show NULL. Your task is to identify and fix this error.

-- TODO: Select Match date and Event from the Matches and MatchEvents tables respectively
-- TODO: Undertake a right join on both tables based on match_id
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
LEFT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;

The provided query uses a `LEFT JOIN` instead of a `RIGHT JOIN`. To correctly display all entries from the `MatchEvents` table (right table) and the matching entries from the `Matches` table (left table), it should be a `RIGHT JOIN`. Here’s the corrected query:

```sql
-- Select Match date and Event from the Matches and MatchEvents tables respectively
-- Perform a RIGHT JOIN on both tables based on match_id
SELECT Matches.date, MatchEvents.event_type 
FROM Matches 
RIGHT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;
```

### Explanation of the Fix:
- **`RIGHT JOIN`** replaces `LEFT JOIN`** to ensure that all rows from `MatchEvents` are included in the result. If there is no corresponding match in `Matches`, `Matches.date` will display as `NULL`.
  
This now aligns with the requirement to bring in all entries from the `MatchEvents` table alongside the matching entries from the `Matches` table.

## Correcting the RIGHT JOIN Query

In this exercise, we're continuing our journey through SQL Joins. We will now work on a query to get all player names from the Matches table and link them up with their corresponding events from the MatchEvents table using a LEFT JOIN.

-- Select Match date and Event from the Matches and MatchEvents tables respectively
-- Undertake a left join on both tables based on match_id
SELECT Matches.date, ________ 
FROM Matches 
LEFT JOIN MatchEvents 
ON Matches.________ = MatchEvents.________;

To modify this query for retrieving all player names from the `Matches` table along with their corresponding events from the `MatchEvents` table using a `LEFT JOIN`, we need to add the `player_name` column to the `SELECT` statement and adjust the join condition accordingly.

Here’s the completed query:

```sql
-- Select Match date, Player name, and Event from the Matches and MatchEvents tables respectively
-- Perform a LEFT JOIN on both tables based on match_id
SELECT Matches.date, Matches.player_name, MatchEvents.event_type 
FROM Matches 
LEFT JOIN MatchEvents 
ON Matches.match_id = MatchEvents.match_id;
```

### Explanation:
- **`Matches.player_name`**: Adds the player name from the `Matches` table to the result set.
- **`MatchEvents.event_type`**: Retrieves the type of event associated with each match.
- **`LEFT JOIN`**: Ensures that all rows from the `Matches` table are included, with matching rows from the `MatchEvents` table where available. If no event exists, `MatchEvents.event_type` will display as `NULL`.

This query now retrieves all player names from the `Matches` table and their corresponding events, if any.

To list all tables in your database, you can use the following SQL commands depending on your database system:

### For MySQL or MariaDB
```sql
SHOW TABLES;
```

### For PostgreSQL
First, make sure you are connected to the correct database, then use:
```sql
\dt
```

Alternatively, you can use:
```sql
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public';
```

### For SQL Server
```sql
SELECT TABLE_NAME 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE';
```

### For SQLite
```sql
.tables
```

These commands will show you a list of all tables in the currently selected database.

Based on the table structure you provided, here’s a query to retrieve all match dates from the `Matches` table, link them to the player names from the `Players` table, and display their corresponding events from the `MatchEvents` table. We’ll use a `LEFT JOIN` to ensure all matches are displayed, even if they don’t have corresponding events.

Assuming that:
- `match_id` links the `Matches` and `MatchEvents` tables.
- The `goal_assist_id` column in `MatchEvents` refers to the player involved, connecting it to the `player_id` in the `Players` table.

Here’s the SQL query:

```sql
-- Select match date, player name, and event from Matches, MatchEvents, and Players tables
SELECT 
    Matches.date, 
    Players.player_name, 
    MatchEvents.event_type
FROM Matches 
LEFT JOIN MatchEvents 
    ON Matches.match_id = MatchEvents.match_id
LEFT JOIN Players 
    ON MatchEvents.goal_assist_id = Players.player_id;
```

### Explanation
- **`Matches.date`**: Retrieves the date of each match.
- **`Players.player_name`**: Fetches the name of the player associated with the event.
- **`MatchEvents.event_type`**: Shows the type of event for each match.
- **`LEFT JOIN`**: Ensures that all matches are included, even if there are no matching events or players associated with them in `MatchEvents`.

This query will display all matches, player names, and associated events. If a match has no events or no player associated with it, those fields will display `NULL`.

## Linking Players and Teams with LEFT JOIN

## SQL Query Using LEFT JOIN to Match Players with Their Teams