# Lesson 2: Utilizing Conditional Operators - LIKE, IN, and BETWEEN

# Utilizing Conditional Operators: LIKE, IN, and BETWEEN

## Introduction to SQL Conditional Operators
In our previous lesson, we explored the foundational knowledge of the **AND** and **OR** logical operators in SQL. Now, we’ll expand on that by introducing SQL **conditional operators**—**LIKE**, **BETWEEN**, and **IN**—to enhance the precision and detail of your queries.

SQL conditional operators allow us to filter query results based on specific criteria. These operators are typically used in the `WHERE` clause to specify conditions that data must meet to be included. Let’s dive into each of these conditional operators.

## Getting Started with the LIKE Operator
The **LIKE** operator is used in a `WHERE` clause to search for a specific pattern within a column. Often, it works with wildcard characters, like the `%` sign, which represents zero, one, or multiple characters.

### `%` Wildcard Usage:
- **Beginning of string** (e.g., `%pattern`): Matches any sequence of characters leading up to the specified pattern.
- **End of string** (e.g., `pattern%`): Matches any sequence of characters that follow the specified pattern.
- **Middle of string** (e.g., `st%ng`): Matches any sequence of characters between specified patterns.

Here’s an example showing how to use the LIKE operator:

```sql
-- Find all matches played in 2005
SELECT match_id, date
FROM Matches
WHERE date LIKE '2005%';

-- Output:
-- | match_id | date       |
-- |----------|------------|
-- |        1 | 2005-05-01 |
-- |        2 | 2005-11-02 |
-- |        3 | 2005-11-27 |
```

In this example, we search for all matches in the `Matches` table where the date starts with `'2005'`. Using the **LIKE** operator with the `%` wildcard returns all matches played in 2005.

## The Power of the BETWEEN Operator
The **BETWEEN** operator is used to select values within a specified range, which can include numbers, text, or dates. It is also used within the `WHERE` clause.

### Syntax:
```sql
column_name BETWEEN value1 AND value2
```
where **value1** and **value2** define the range. Note that **BETWEEN** is inclusive of both `value1` and `value2`.

Example of the **BETWEEN** operator:

```sql
-- Choose events that occurred in the first half
SELECT event_id, minute
FROM MatchEvents
WHERE minute BETWEEN 1 AND 45;

-- Output:
-- | event_id | minute |
-- |----------|--------|
-- |        2 | 34     |
-- |        8 | 42     |
```

In this example, the **BETWEEN** operator filters events from the `MatchEvents` table that occurred between the 1st and 45th minutes (inclusive).

## Efficiency of the IN Operator
The **IN** operator filters data based on multiple values in a `WHERE` clause, acting as a shorthand for multiple `OR` conditions. It’s particularly useful when comparing a column to more than two values.

Example of the **IN** operator:

```sql
-- Find matches from specific competitions and list their results
SELECT 
    m.match_id AS MatchID,
    m.result AS Result,
    me.event_type AS EventType
FROM Matches m
JOIN MatchEvents me ON m.match_id = me.match_id
WHERE m.competition_id IN (1, 2) AND me.event_type = 'Left-footed shot';

-- Output:
-- | MatchID | Result | EventType        |
-- |---------|--------|------------------|
-- |       1 | 2:0    | Left-footed shot |
-- |       2 | 5:0    | Left-footed shot |
```

In this query, the **IN** operator allows us to select matches where the `competition_id` is either `1` or `2`, and the `event_type` in `MatchEvents` is `'Left-footed shot'`. The table aliases `m` and `me` are used to make the query more concise: `m` represents the `Matches` table, and `me` represents the `MatchEvents` table. This improves the readability of SQL queries.

## Lesson Review and Practice Overview
Congratulations on completing this lesson! You’ve now gained a solid understanding of **SQL conditional operators**. These tools can significantly enhance the precision and flexibility of your data queries. 

Next, you’ll get hands-on practice to reinforce your skills. Applying these new operators across different scenarios will further strengthen your SQL proficiency. Keep up the excellent work, and let’s keep the SQL momentum going strong in the next section!

## First Half Match Events

In this task, you need to identify and fix an issue in an SQL query that aims to retrieve match events that occurred in the first half of the match (minutes between 1 and 45). However, the current query is not providing the correct results. Locate and correct the error.

-- TODO: Retrieve events that occurred in the first half of the match
SELECT event_id, minute
FROM MatchEvents
WHERE minute BEETWEEN 1 AND 45;

The issue in your SQL query is a typo in the `BETWEEN` keyword. It is incorrectly spelled as `BEETWEEN`. Here is the corrected query:

```sql
SELECT event_id, minute
FROM MatchEvents
WHERE minute BETWEEN 1 AND 45;
```

This query will correctly retrieve match events that occurred in the first half of the match, specifically between the 1st and 45th minute, inclusive.

## Filtering Match Events with BETWEEN

You've already fixed a bug in an SQL query. Now, let's add some elements to our SQL query. We have a task to list all the names from the MatchEvents table that belong to matches where minute is between 1 and 45. Parts of the SQL query are missing in the given code. To complete this task, replace the ________ placeholders in the starter code correctly to execute the task.

-- TODO: Use BETWEEN operator to choose events that occurred in the first half
SELECT event_id, minute
FROM MatchEvents
WHERE minute _______ _______ AND 45;

To complete your SQL query and list all the names from the `MatchEvents` table for matches where the minute is between 1 and 45, you need to use the `BETWEEN` operator correctly. Additionally, you should select the `name` column if you want to list the names. Here is the completed query:

```sql
-- TODO: Use BETWEEN operator to choose events that occurred in the first half
SELECT  event_id, minute
FROM MatchEvents
WHERE minute BETWEEN 1 AND 45;
```

This query will retrieve the `name`, `event_id`, and `minute` for all match events that occurred in the first half of the match, specifically between the 1st and 45th minute, inclusive. Make sure that the `name` column exists in your `MatchEvents` table. If it has a different name, replace `name` with the correct column name.

## Finding Matches from 2005

Great job fixing and adding elements to the SQL queries. Now, let's modify the query. We have been given a query that fetches all match IDs and dates. Your task is to change the query to fetch matches played in the year 2005 only.

-- TODO: Fetch all matches played in 2005
SELECT match_id, date
FROM Matches
WHERE _______ LIKE _______;

To modify the SQL query to fetch all matches played in the year 2005, you need to use the `LIKE` operator to match the date pattern for the year 2005. Assuming the `date` column is stored in a format like `YYYY-MM-DD`, you can use the following query:

```sql
-- TODO: Fetch all matches played in 2005
SELECT match_id, date
FROM Matches
WHERE date LIKE '2005%';
```

This query uses the `LIKE` operator with the pattern `'2005%'` to match any date that starts with `2005`, effectively filtering for matches played in that year. Make sure that the `date` column is in the correct format for this pattern to work.

## Utilizing Conditional Operators in SQL

In this exercise, you're tasked with crafting an accurate SQL query to extract information about matches played in the year 2005. The goal is to retrieve both the match ID and the date of each match, but there appears to be a hitch in executing the intended query. Your mission is to identify the glitch and reformulate the SQL statement to achieve the desired outcome.

-- Retrieve match IDs and dates for matches played in 2005
SELECT 
    match_id,
    date
FROM Matches
WHERE date = '2005%';

The issue with your SQL query lies in the use of the `=` operator with the pattern `'2005%'`. The `=` operator is used for exact matches, and it does not support pattern matching with wildcards like `%`. To match dates that start with `2005`, you should use the `LIKE` operator instead. Here's the corrected query:

```sql
-- Retrieve match IDs and dates for matches played in 2005
SELECT 
    match_id,
    date
FROM Matches
WHERE date LIKE '2005%';
```

This query uses the `LIKE` operator with the pattern `'2005%'` to filter for dates that begin with `2005`, effectively retrieving all matches played in that year. Ensure that the `date` column is in a format that supports this pattern, such as `YYYY-MM-DD`.

## Utilize SQL Conditional Operators

Great progress! Your next challenge is to bridge the concepts of joining tables and filtering results using a list of values. Your task is to write an SQL query that retrieves the match ID, result, and event type from the Matches and MatchEvents tables. Specifically, you need to select matches from competitions with IDs 1 or 2 and events of type 'Left-footed shot'. These match details and event types are stored in the Matches and MatchEvents tables, respectively, connected by the match_id.

-- TODO: Write an SQL query that joins the Matches and MatchEvents tables and filters for matches in competitions 1 or 2 with event type 'Left-footed shot'.

Here is an example SQL query to achieve your task:

```sql
SELECT 
    Matches.match_id,
    Matches.result,
    MatchEvents.event_type
FROM 
    Matches
JOIN 
    MatchEvents 
ON 
    Matches.match_id = MatchEvents.match_id
WHERE 
    Matches.competition_id IN (1, 2)
    AND MatchEvents.event_type = 'Left-footed shot';
```

### Explanation:
- **SELECT**: Specifies the columns you want to retrieve: `match_id`, `result`, and `event_type`.
- **FROM Matches**: Starts from the `Matches` table.
- **JOIN MatchEvents ON Matches.match_id = MatchEvents.match_id**: Joins the `Matches` table with the `MatchEvents` table based on the `match_id` column.
- **WHERE**: Filters for rows where:
  - `Matches.competition_id` is either 1 or 2 using `IN (1, 2)`.
  - `MatchEvents.event_type` is 'Left-footed shot'. 

This query should yield the desired results filtered by the specified criteria.