# Lesson 4: Complex Queries and Conditional Logic

# Complex Queries and Conditional Logic

## Introduction
Hi there! You’ve made substantial progress, and I’m impressed with all you’ve learned so far. You’ve mastered SQL logical and conditional operators and elevated your data analysis with subqueries. In this unit, we're diving into **complex queries and conditional logic**—an advanced SQL topic that will allow for even more intricate data queries and analysis.

We'll continue working with our sports database, focusing on the **Matches** and **MatchEvents** tables. As a quick reminder, the `Matches` table contains details such as match IDs, dates, and results, while `MatchEvents` holds information about events during matches, like minute and event type.

Are you ready to get started? Let’s jump right in!

---

## Employing the IF Function in SQL
The **IF** function is one of SQL’s most useful tools for adding conditional logic to queries. It operates on a simple principle: if a specific condition is true, do something; if it’s false, do something else.

Let’s put this into practice by categorizing matches into 'Recent' and 'Earlier' periods:

```sql
SELECT
    match_id AS MatchID,
    date AS MatchDate,
    IF(YEAR(date) > 2015, 'Recent Match', 'Earlier Match') AS MatchPeriod
FROM
    Matches;
```

**Output:**
| MatchID | MatchDate  | MatchPeriod   |
|---------|------------|---------------|
|       1 | 2005-05-01 | Earlier Match |
|       2 | 2005-11-02 | Earlier Match |

In this query, the IF function checks whether each match’s date is after 2015. If true, it returns 'Recent Match'; otherwise, it returns 'Earlier Match'. This approach categorizes matches based on dates efficiently and clearly.

---

## Deep Dive into the CASE Statement
The **CASE** statement is an exceptionally versatile SQL tool for executing actions based on various conditions. It offers functionality similar to the IF function but with enhanced flexibility, as it supports multiple conditions for handling complex logic.

Here’s how we can categorize matches by their event time using CASE:

```sql
SELECT
    m.match_id AS MatchID,
    me.minute AS Minute,
    CASE
        WHEN me.minute < 30 THEN 'Early'
        WHEN me.minute BETWEEN 30 AND 60 THEN 'Mid'
        ELSE 'Late'
    END AS EventTimeCategory
FROM
    MatchEvents me
JOIN
    Matches m ON me.match_id = m.match_id;
```

**Output:**
| MatchID | Minute | EventTimeCategory |
|---------|--------|-------------------|
|       1 | 90+1   | Late              |
|       2 | 34     | Mid               |

In this example:
1. We join the `Matches` and `MatchEvents` tables through `match_id`.
2. Using **CASE**, we determine the time category of a match event:
   - If the minute is less than 30, 'Early' is returned.
   - If the minute is between 30 and 60, 'Mid' is returned.
   - Otherwise, the `ELSE` clause catches all remaining cases, returning 'Late'.

The **CASE** statement concludes with the `END` keyword, followed by an alias (`AS EventTimeCategory`), which labels the outcome as a new column in the results.

---

## Conclusion and Practice: Transferring Learning into Action
Great job! You’ve just learned to use the **IF** function and **CASE** statement to create more advanced SQL queries. You now have the skills to filter data more accurately, write conditional statements in SQL, and analyze real-world data more effectively.

Next, try a series of practice exercises on CodeSignal to reinforce what you’ve learned. The more you practice these skills, the more confident you’ll become in handling real-world scenarios.

---

## A Final Note
Congratulations! You’re almost at the end of this course. Be proud of your progress—these tools are powerful additions to your data analysis arsenal, and they’ll be invaluable in your future work. Keep practicing, keep learning, and remember: your new skills are just the beginning of a fantastic journey in data analysis!

## Categorize Matches with IF Function

You are given a SQL query that attempts to use the IF function to categorize matches from the Matches table into 'Recent Match' and 'Earlier Match' periods based on their dates. However, there is a minor error in the statement that is causing it to malfunction. Your task is to find and fix this error.

-- TODO: Find and fix the issue in the code
SELECT
    match_id AS MatchID,
    date AS MatchDate,
    IF(YEAR(date > 2015, 'Recent Match', 'Earlier Match')) AS MatchPeriod
FROM
    Matches;


It looks like there is a syntax error in the use of the `IF` function. The condition and arguments within the `IF` function are incorrectly placed. The correct format for the `IF` function in SQL is:

```sql
IF(condition, value_if_true, value_if_false)
```

The error is in the placement of the `YEAR` function and the comparison. Here is the corrected query:

```sql
SELECT
    match_id AS MatchID,
    date AS MatchDate,
    IF(YEAR(date) > 2015, 'Recent Match', 'Earlier Match') AS MatchPeriod
FROM
    Matches;
```

### Fixes:
1. The `YEAR(date > 2015, ...)` should be corrected to `YEAR(date) > 2015`.
2. The `IF` function now correctly evaluates whether the year of the date is greater than 2015 and categorizes the match accordingly.

### Explanation:
- `YEAR(date)` extracts the year from the `date` column.
- The comparison `YEAR(date) > 2015` checks if the match is recent or earlier.
- The `IF` function then returns 'Recent Match' if true and 'Earlier Match' if false.

## Categorize Matches by Date

Let's keep going. Your challenge is to complete an SQL query that selects the match ID, match date, and categorizes the match period based on the date. The criteria for categorization are as follows: if a match date is after 2015, label it as 'Recent Match'; otherwise, label it as 'Earlier Match'.

SELECT
    match_id AS MatchID,
    date AS MatchDate,
    _____________ AS MatchPeriod
FROM
    Matches;

To categorize the matches correctly based on the date, we can use the `CASE` statement for more clarity or the `IF` function. Here’s how to complete the SQL query using both approaches:

### Using the `IF` Function:
```sql
SELECT
    match_id AS MatchID,
    date AS MatchDate,
    IF(YEAR(date) > 2015, 'Recent Match', 'Earlier Match') AS MatchPeriod
FROM
    Matches;
```

### Using the `CASE` Statement:
```sql
SELECT
    match_id AS MatchID,
    date AS MatchDate,
    CASE
        WHEN YEAR(date) > 2015 THEN 'Recent Match'
        ELSE 'Earlier Match'
    END AS MatchPeriod
FROM
    Matches;
```

### Explanation:
- **IF Function**: Checks if the year of the `date` column is greater than 2015. If true, it returns 'Recent Match'; otherwise, it returns 'Earlier Match'.
- **CASE Statement**: Works similarly, offering a more readable and flexible way to handle multiple conditions.

You can use either approach depending on your preference or the SQL dialect you are working with. Both queries will give you the desired categorization.

## Categorize Match Events by Minutes

Let's categorize match events based on the minute they occurred using the CASE statement. In this task, you'll modify the starter SQL query to use CASE to label events as 'Early', 'Middle', or 'Late'. Replace the ________ placeholder in the given starter code with the correct conditions.

-- TODO: Categorize match events based on the minute they occurred
SELECT
    m.match_id AS MatchID,
    me.minute AS Minute,
    CASE
        WHEN ____.________ < 30 THEN 'Early'
        WHEN ____.________ BETWEEN 30 AND 60 THEN 'Mid'
        ELSE 'Late'
    END AS EventTimeCategory
FROM
    ________ ____
JOIN
    Matches m ON ____.________ = m.________;

To categorize match events based on the minute they occurred using the `CASE` statement, we need to correctly fill in the conditions and complete the `JOIN`. Here’s how you can complete the SQL query:

```sql
SELECT
    m.match_id AS MatchID,
    me.minute AS Minute,
    CASE
        WHEN me.minute < 30 THEN 'Early'
        WHEN me.minute BETWEEN 30 AND 60 THEN 'Mid'
        ELSE 'Late'
    END AS EventTimeCategory
FROM
    MatchEvents me
JOIN
    Matches m ON me.match_id = m.match_id;
```

### Explanation:
1. `me.minute < 30`: This categorizes events occurring in the first 30 minutes as 'Early'.
2. `me.minute BETWEEN 30 AND 60`: This categorizes events occurring between the 30th and 60th minutes as 'Mid'.
3. `ELSE 'Late'`: Events that occurred after the 60th minute are labeled as 'Late'.
4. **FROM Clause**: `MatchEvents me` is the table that contains event details.
5. **JOIN Clause**: We are joining the `MatchEvents` table with the `Matches` table using the `match_id` field to relate events to their corresponding matches. 

This query will categorize each event into one of the three time categories based on the minute they occurred.

## Creating and Querying Match Statistics in SQL

Let's do some more debugging on the same query we saw before. As a reminder, the SQL query is designed to categorize match events based on the minute they occurred into 'Early', 'Mid', and 'Late' categories. However, there seems to be a bug in the query that is causing it to malfunction. Your task is to spot the issues and make the necessary corrections. Keep in mind there could be more than one issue.

-- TODO: Categorize match events based on the minute they occurred
SELECT
    m.match_id AS MatchID,
    me.minute AS Minute,
    CASE
        WHEN me.minute < 30 'Early'
        WHEN me.minute BETWEEN 30 AND 60 'Mid'
        ELSE 'Late'
    END EventTimeCategory
FROM
    MatchEvents me
JOIN
    Matches m ON me.match_id = m.match_id;

To categorize match events based on the minute they occurred using the `CASE` statement, we need to correctly fill in the conditions and complete the `JOIN`. Here’s how you can complete the SQL query:

```sql
SELECT
    m.match_id AS MatchID,
    me.minute AS Minute,
    CASE
        WHEN me.minute < 30 THEN 'Early'
        WHEN me.minute BETWEEN 30 AND 60 THEN 'Mid'
        ELSE 'Late'
    END AS EventTimeCategory
FROM
    MatchEvents me
JOIN
    Matches m ON me.match_id = m.match_id;
```

### Explanation:
1. `me.minute < 30`: This categorizes events occurring in the first 30 minutes as 'Early'.
2. `me.minute BETWEEN 30 AND 60`: This categorizes events occurring between the 30th and 60th minutes as 'Mid'.
3. `ELSE 'Late'`: Events that occurred after the 60th minute are labeled as 'Late'.
4. **FROM Clause**: `MatchEvents me` is the table that contains event details.
5. **JOIN Clause**: We are joining the `MatchEvents` table with the `Matches` table using the `match_id` field to relate events to their corresponding matches. 

This query will categorize each event into one of the three time categories based on the minute they occurred.

Now it's time to put everything you've learned into practice. Using the CASE statement, write a SQL query that categorizes match events based on the minute they occurred. Your task is to select match IDs (MatchID), event minutes (Minute), and categorize each event into one of three categories: 'Early', 'Middle', or 'Late'. The categorization should be based on the following conditions:

If the event occurred before 30 minutes (me.minute < 30), label it as 'Early'.
If the event occurred between 30 and 60 minutes (me.minute BETWEEN 30 AND 60), label it as 'Mid'.
For events occurring after 60 minutes or exactly at 60 minutes (ELSE), label them as 'Late'.

-- TODO: Categorize match events based on the minute they occurred

Here's how you can write the SQL query to categorize match events using the `CASE` statement:

```sql
SELECT
    me.match_id AS MatchID,
    me.minute AS Minute,
    CASE
        WHEN me.minute < 30 THEN 'Early'
        WHEN me.minute BETWEEN 30 AND 60 THEN 'Mid'
        ELSE 'Late'
    END AS EventTimeCategory
FROM
    MatchEvents me;
```

### Explanation:
- **me.match_id AS MatchID**: Selects the match ID from the `MatchEvents` table and labels it as `MatchID`.
- **me.minute AS Minute**: Selects the minute of the event and labels it as `Minute`.
- **CASE Statement**:
  - `WHEN me.minute < 30 THEN 'Early'`: Categorizes events occurring before the 30th minute as 'Early'.
  - `WHEN me.minute BETWEEN 30 AND 60 THEN 'Mid'`: Categorizes events occurring between the 30th and 60th minute as 'Mid'.
  - `ELSE 'Late'`: Categorizes events occurring after the 60th minute as 'Late'.
- **FROM MatchEvents me**: Specifies the `MatchEvents` table as the source of data.

This query will categorize each match event into 'Early', 'Mid', or 'Late' based on the minute it occurred.