# Lesson 2: Utilizing Conditional Operators - LIKE, IN, and BETWEEN

# Utilizing Conditional Operators: LIKE, IN, and BETWEEN

## Introduction to SQL Conditional Operators
In our previous lesson, we explored the foundational knowledge of the **AND** and **OR** logical operators in SQL. Now, we’ll expand on that by introducing SQL **conditional operators**—**LIKE**, **BETWEEN**, and **IN**—to enhance the precision and detail of your queries.

SQL conditional operators allow us to filter query results based on specific criteria. These operators are typically used in the `WHERE` clause to specify conditions that data must meet to be included. Let’s dive into each of these conditional operators.

## Getting Started with the LIKE Operator
The **LIKE** operator is used in a `WHERE` clause to search for a specific pattern within a column. Often, it works with wildcard characters, like the `%` sign, which represents zero, one, or multiple characters.

### `%` Wildcard Usage:
- **Beginning of string** (e.g., `%pattern`): Matches any sequence of characters leading up to the specified pattern.
- **End of string** (e.g., `pattern%`): Matches any sequence of characters that follow the specified pattern.
- **Middle of string** (e.g., `st%ng`): Matches any sequence of characters between specified patterns.

Here’s an example showing how to use the LIKE operator:

```sql
-- Find all matches played in 2005
SELECT match_id, date
FROM Matches
WHERE date LIKE '2005%';

-- Output:
-- | match_id | date       |
-- |----------|------------|
-- |        1 | 2005-05-01 |
-- |        2 | 2005-11-02 |
-- |        3 | 2005-11-27 |
```

In this example, we search for all matches in the `Matches` table where the date starts with `'2005'`. Using the **LIKE** operator with the `%` wildcard returns all matches played in 2005.

## The Power of the BETWEEN Operator
The **BETWEEN** operator is used to select values within a specified range, which can include numbers, text, or dates. It is also used within the `WHERE` clause.

### Syntax:
```sql
column_name BETWEEN value1 AND value2
```
where **value1** and **value2** define the range. Note that **BETWEEN** is inclusive of both `value1` and `value2`.

Example of the **BETWEEN** operator:

```sql
-- Choose events that occurred in the first half
SELECT event_id, minute
FROM MatchEvents
WHERE minute BETWEEN 1 AND 45;

-- Output:
-- | event_id | minute |
-- |----------|--------|
-- |        2 | 34     |
-- |        8 | 42     |
```

In this example, the **BETWEEN** operator filters events from the `MatchEvents` table that occurred between the 1st and 45th minutes (inclusive).

## Efficiency of the IN Operator
The **IN** operator filters data based on multiple values in a `WHERE` clause, acting as a shorthand for multiple `OR` conditions. It’s particularly useful when comparing a column to more than two values.

Example of the **IN** operator:

```sql
-- Find matches from specific competitions and list their results
SELECT 
    m.match_id AS MatchID,
    m.result AS Result,
    me.event_type AS EventType
FROM Matches m
JOIN MatchEvents me ON m.match_id = me.match_id
WHERE m.competition_id IN (1, 2) AND me.event_type = 'Left-footed shot';

-- Output:
-- | MatchID | Result | EventType        |
-- |---------|--------|------------------|
-- |       1 | 2:0    | Left-footed shot |
-- |       2 | 5:0    | Left-footed shot |
```

In this query, the **IN** operator allows us to select matches where the `competition_id` is either `1` or `2`, and the `event_type` in `MatchEvents` is `'Left-footed shot'`. The table aliases `m` and `me` are used to make the query more concise: `m` represents the `Matches` table, and `me` represents the `MatchEvents` table. This improves the readability of SQL queries.

## Lesson Review and Practice Overview
Congratulations on completing this lesson! You’ve now gained a solid understanding of **SQL conditional operators**. These tools can significantly enhance the precision and flexibility of your data queries. 

Next, you’ll get hands-on practice to reinforce your skills. Applying these new operators across different scenarios will further strengthen your SQL proficiency. Keep up the excellent work, and let’s keep the SQL momentum going strong in the next section!

## First Half Match Events

## Filtering Match Events with BETWEEN

## Finding Matches from 2005

## Utilizing Conditional Operators in SQL

## Utilize SQL Conditional Operators