# Lesson 1: Logical Operations with AND in SQL Queries

# Logical Operations with AND in SQL Queries

## Introduction and Context Setting
Welcome to the course **"Learning SQL with Leo Messi"!** In this course, you'll learn how to use SQL to query and analyze real-world data centered around soccer games.

**Main Tables Used:**
1. **Matches**: Contains data about the matches played.
2. **MatchEvents**: Contains data about events that occurred during each match.

### Table Preview:

**Matches Table:**

| match_id | season_id | competition_id | matchday     | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|--------------|------------|-------|---------|-------------|--------|
| 1        | 1         | 1              | 34           | 2005-01-05 | H     | 1       | 2           | 2:0    |
| 2        | 2         | 2              | Group Stage  | 2005-11-02 | H     | 1       | 2           | 5:0    |

**MatchEvents Table:**

| event_id | match_id | playing_position | minute | at_score | event_type       | goal_assist_id |
|----------|----------|------------------|--------|----------|------------------|----------------|
| 1        | 1        | CF               | 90+1   | 2:0      | Left-footed shot | 1              |
| 2        | 2        | RW               | 34     | 3:0      | Left-footed shot | NULL           |

## Logical Operators
Logical operators are essential in SQL for filtering data based on specific conditions. Key logical operators include:
- **AND**: All conditions must be true.
- **OR**: At least one condition must be true.
- **NOT**: The condition must be false.

In this section, we'll focus on the **AND** operator, which weâ€™ll use frequently.

Logical operators allow you to refine your data queries to extract only what you need. Mastering these operations is essential for effective SQL querying.

## Understanding Syntax and Clause Structure
Think of SQL statements as phrases that you can break into parts. Each part serves a specific purpose. For example, consider:

```sql
SELECT *
FROM Matches
WHERE result = '4:0' AND YEAR(date) BETWEEN 2010 AND 2013;
```

**Example Output:**
| match_id | season_id | competition_id | matchday | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|----------|------------|-------|---------|-------------|--------|
| 100      | 6         | 1              | 18       | 2010-01-16 | H     | 1       | 2           | 4:0    |
| 101      | 6         | 1              | 18       | 2010-01-16 | H     | 1       | 2           | 4:0    |

This SQL statement has several parts:
- **`SELECT *`**: Retrieves all columns.
- **`FROM Matches`**: Specifies the table.
- **`WHERE`**: Starts the condition clause to refine the query.
- **`result = '4:0' AND YEAR(date) BETWEEN 2010 AND 2013`**: Sets conditions that each row must meet to be included.

Notice the **AND** operator here? It lets us set multiple conditions. This statement instructs SQL to "show me all columns from the Matches table, but only those where the result is '4:0' **and** the year is between 2010 and 2013."

## Using AND/OR with Numeric Fields
Logical operators like **AND** and **OR** aren't limited to boolean values. They also work with numeric data, allowing comparisons with **=, >, <, >=, <=**, and **<>** or **!=** for "not equal."

## Using Logical Operators with Date Fields
We can also apply logical operators to date fields. For example:

```sql
SELECT MatchEvents.*
FROM MatchEvents
JOIN Matches ON Matches.match_id = MatchEvents.match_id
WHERE Matches.date > '2010-01-01' AND MatchEvents.minute < 30;
```

**Example Output:**

| event_id | match_id | playing_position | minute | at_score | event_type       | goal_assist_id |
|----------|----------|------------------|--------|----------|------------------|----------------|
| 103      | 103      | RW               | 7      | 1:0      | Left-footed shot | 19             |
| 110      | 110      | CF               | 13     | 1:0      | Left-footed shot | 19             |

In this query, we retrieve all match events (SELECT MatchEvents.*) where the date is after January 1, 2010, **and** the event occurred before the 30th minute (MatchEvents.minute < 30). The **AND** operator combines these conditions.

## Summary and Upcoming Practice
This introduction covered the **AND/OR** logical operators in SQL. We learned how to construct SQL queries using these operators to filter specific data based on multiple conditions. Next, you'll tackle various exercises to practice using logical operators in SQL and retrieving specific data. Keep practicing, and happy querying!

## Fix SQL Query Syntax Error

## Logical Operations in SQL Queries

## Refining SQL Queries with Conditions

## Logical Operations with AND/OR in SQL Queries

## Retrieve Specific Match Details