# Lesson 1: Logical Operations with AND in SQL Queries

# Logical Operations with AND in SQL Queries

## Introduction and Context Setting
Welcome to the course **"Learning SQL with Leo Messi"!** In this course, you'll learn how to use SQL to query and analyze real-world data centered around soccer games.

**Main Tables Used:**
1. **Matches**: Contains data about the matches played.
2. **MatchEvents**: Contains data about events that occurred during each match.

### Table Preview:

**Matches Table:**

| match_id | season_id | competition_id | matchday     | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|--------------|------------|-------|---------|-------------|--------|
| 1        | 1         | 1              | 34           | 2005-01-05 | H     | 1       | 2           | 2:0    |
| 2        | 2         | 2              | Group Stage  | 2005-11-02 | H     | 1       | 2           | 5:0    |

**MatchEvents Table:**

| event_id | match_id | playing_position | minute | at_score | event_type       | goal_assist_id |
|----------|----------|------------------|--------|----------|------------------|----------------|
| 1        | 1        | CF               | 90+1   | 2:0      | Left-footed shot | 1              |
| 2        | 2        | RW               | 34     | 3:0      | Left-footed shot | NULL           |

## Logical Operators
Logical operators are essential in SQL for filtering data based on specific conditions. Key logical operators include:
- **AND**: All conditions must be true.
- **OR**: At least one condition must be true.
- **NOT**: The condition must be false.

In this section, we'll focus on the **AND** operator, which we’ll use frequently.

Logical operators allow you to refine your data queries to extract only what you need. Mastering these operations is essential for effective SQL querying.

## Understanding Syntax and Clause Structure
Think of SQL statements as phrases that you can break into parts. Each part serves a specific purpose. For example, consider:

```sql
SELECT *
FROM Matches
WHERE result = '4:0' AND YEAR(date) BETWEEN 2010 AND 2013;
```

**Example Output:**
| match_id | season_id | competition_id | matchday | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|----------|------------|-------|---------|-------------|--------|
| 100      | 6         | 1              | 18       | 2010-01-16 | H     | 1       | 2           | 4:0    |
| 101      | 6         | 1              | 18       | 2010-01-16 | H     | 1       | 2           | 4:0    |

This SQL statement has several parts:
- **`SELECT *`**: Retrieves all columns.
- **`FROM Matches`**: Specifies the table.
- **`WHERE`**: Starts the condition clause to refine the query.
- **`result = '4:0' AND YEAR(date) BETWEEN 2010 AND 2013`**: Sets conditions that each row must meet to be included.

Notice the **AND** operator here? It lets us set multiple conditions. This statement instructs SQL to "show me all columns from the Matches table, but only those where the result is '4:0' **and** the year is between 2010 and 2013."

## Using AND/OR with Numeric Fields
Logical operators like **AND** and **OR** aren't limited to boolean values. They also work with numeric data, allowing comparisons with **=, >, <, >=, <=**, and **<>** or **!=** for "not equal."

## Using Logical Operators with Date Fields
We can also apply logical operators to date fields. For example:

```sql
SELECT MatchEvents.*
FROM MatchEvents
JOIN Matches ON Matches.match_id = MatchEvents.match_id
WHERE Matches.date > '2010-01-01' AND MatchEvents.minute < 30;
```

**Example Output:**

| event_id | match_id | playing_position | minute | at_score | event_type       | goal_assist_id |
|----------|----------|------------------|--------|----------|------------------|----------------|
| 103      | 103      | RW               | 7      | 1:0      | Left-footed shot | 19             |
| 110      | 110      | CF               | 13     | 1:0      | Left-footed shot | 19             |

In this query, we retrieve all match events (SELECT MatchEvents.*) where the date is after January 1, 2010, **and** the event occurred before the 30th minute (MatchEvents.minute < 30). The **AND** operator combines these conditions.

## Summary and Upcoming Practice
This introduction covered the **AND/OR** logical operators in SQL. We learned how to construct SQL queries using these operators to filter specific data based on multiple conditions. Next, you'll tackle various exercises to practice using logical operators in SQL and retrieving specific data. Keep practicing, and happy querying!

## Fix SQL Query Syntax Error

Let's start the practice. You are given a SQL query intended to retrieve matches from the Matches table, but not just any matches. The objective is to find those with a specific result (result = '4:0') and that fall within a certain year range (YEAR(date) BETWEEN 2010 AND 2013). It seems there is a mistake in the SQL statement, and it's not functioning as expected.

-- TODO: Fetch all matches with a specific result within a certain year range
SELECT *
FROM Matches
WHERE result = '4:0' AND YEAR(date) > 2010 AND 2013;

It looks like there is a mistake in the SQL statement, specifically in how the year range is specified. The condition `YEAR(date) > 2010 AND 2013` does not properly define a range. Instead, you should use the `BETWEEN` operator to express a range of years. Here’s the corrected SQL query:

```sql
-- Corrected SQL query to fetch matches with a specific result within a year range
SELECT *
FROM Matches
WHERE result = '4:0' AND YEAR(date) BETWEEN 2010 AND 2013;
```

### Explanation of the Fix:
1. **YEAR(date) BETWEEN 2010 AND 2013**: The `BETWEEN` operator is used to specify a range, making the query more concise and clear. It retrieves all records where the year of the match date is between 2010 and 2013, inclusive.
2. **Correct Use of Logical Operators**: The `AND` operator ensures that both conditions are true: the result must be '4:0', and the year must fall within the specified range.

This corrected query will correctly fetch matches with the result '4:0' that occurred between the years 2010 and 2013.

## Logical Operations in SQL Queries

Great work so far! Let's go ahead and practice more with logical operators. This time, you are asked to retrieve from the Matches table all those matches that have a result of 4:0 and are within a certain year range (YEAR(date) BETWEEN 2010 AND 2013).

Replace the ______ placeholders in the given starter code with the correct field and conditions.

-- TODO: Fetch all matches with a specific result within a certain year range
SELECT *
FROM Matches
WHERE ______ = '4:0' AND YEAR(date) BETWEEN ______;

Here's how you can complete the SQL query to retrieve all matches with a result of '4:0' within the specified year range:

```sql
-- Corrected SQL query to fetch matches with a specific result within a year range
SELECT *
FROM Matches
WHERE result = '4:0' AND YEAR(date) BETWEEN 2010 AND 2013;
```

### Explanation of the Filled-In Placeholders:
1. **result**: The field that stores the result of the match, specified as `result = '4:0'`.
2. **2010 AND 2013**: The year range specified using the `BETWEEN` operator, which includes all matches where the year is between 2010 and 2013, inclusive.

### Final Query:
- This query will fetch all matches from the `Matches` table where the result is '4:0' and the match date falls within the years 2010 and 2013.

## Refining SQL Queries with Conditions

Splendid job mastering the logical AND operator! Now, let's learn to use the OR operator. We want to modify the existing SQL query to retrieve matches from the Matches table. However, this time, we'll fetch matches that either have a result of 4:0 or are within the years of 2010 AND 2013. This approach gives us the flexibility to fetch records that satisfy either condition.

Alter the given query to accomplish this.

```sql
-- TODO: Fetch all matches with a specific result
SELECT *
FROM Matches
WHERE result = '4:0';
```

To modify the query to fetch matches that either have a result of '4:0' or are within the years 2010 and 2013, you can use the `OR` operator. Here's how you can update the query:

```sql
-- Fetch all matches with a result of 4:0 or within the years 2010 and 2013
SELECT *
FROM Matches
WHERE result = '4:0'
   OR (YEAR(match_date) BETWEEN 2010 AND 2013);
```

### Explanation:
- The `WHERE` clause uses the `OR` operator to combine two conditions.
- The first condition checks if the `result` is '4:0'.
- The second condition checks if the match's year, extracted from `match_date`, falls between 2010 and 2013 using the `BETWEEN` operator.
- Parentheses are used around the second condition to ensure correct precedence, as the logical OR will evaluate both conditions.

## Logical Operations with AND/OR in SQL Queries

Let's do more debugging. For this task, you are given a slightly different problem to solve. This time, there's a SQL query intended to fetch match events from the MatchEvents table. However, the query is incorrectly written and fails to retrieve match events where the matches occurred after 2010-01-01 OR the events happened within the first 30 minutes. Your task is to identify the mistake and correct this SQL statement.

```sql
-- TODO: Find and fix the issue in the code
SELECT MatchEvents.*
FROM MatchEvents
JOIN Matches ON Matches.match_id = MatchEvents.match_id
WHERE Matches.date > '2010-01-01' AND MatchEvents.minute < 30;

```

The issue with the original query is that it uses the `AND` operator between the two conditions in the `WHERE` clause. This limits the result to only match events that satisfy **both** conditions simultaneously: the match date must be after 2010-01-01 **and** the event must occur in the first 30 minutes. However, the task asks for matches where either the match occurred after 2010-01-01 **or** the event happened within the first 30 minutes, which requires using the `OR` operator instead of `AND`.

Here's the corrected query:

```sql
-- Corrected SQL query to find matches after 2010-01-01 OR events within the first 30 minutes
SELECT MatchEvents.*
FROM MatchEvents
JOIN Matches ON Matches.match_id = MatchEvents.match_id
WHERE Matches.date > '2010-01-01' 
   OR MatchEvents.minute < 30;
```

### Explanation:
- The `OR` operator is now used to combine the two conditions:
  - The first condition retrieves matches that occurred after 2010-01-01.
  - The second condition retrieves match events that occurred within the first 30 minutes.
- This allows the query to fetch match events where either condition is true, rather than requiring both to be true at the same time.

## Retrieve Specific Match Details

You are doing a great job! By now, you're becoming more comfortable with logical operators. This time, let's work on date fields. Your task is to retrieve the event_id and minute columns, from the MatchEvents table where matches occurred after January 1st, 2015.

You will need to incorporate the AND operator to ensure that not only did the matches occur after this date but also that the event happened in the second half of the game, after the 45th minute.

-- TODO: Fetch all match events where matches occurred after a specific date and events happened in the second half of the game
-- Select event_id and minute columns from the MatchEvents table
-- We use JOIN to associate matches with their respective event details, specifically to access the match date

To retrieve the `event_id` and `minute` columns from the `MatchEvents` table where matches occurred after January 1st, 2015, and the events happened in the second half (i.e., after the 45th minute), you need to use the `AND` operator to combine both conditions. Here's the corrected query:

```sql
-- Fetch all match events where matches occurred after January 1st, 2015 and events happened in the second half of the game
SELECT MatchEvents.event_id, MatchEvents.minute
FROM MatchEvents
JOIN Matches ON Matches.match_id = MatchEvents.match_id
WHERE Matches.date > '2015-01-01'
  AND MatchEvents.minute > 45;
```

### Explanation:
- The `JOIN` clause connects the `MatchEvents` table with the `Matches` table based on the `match_id`.
- The `WHERE` clause contains two conditions:
  1. `Matches.date > '2015-01-01'` ensures that the matches occurred after January 1st, 2015.
  2. `MatchEvents.minute > 45` ensures that the events happened after the 45th minute, which corresponds to the second half of the game.
- The `SELECT` statement fetches the `event_id` and `minute` columns from the `MatchEvents` table, showing the relevant data for matches that meet both conditions.